<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Marxism Bookings</title>
  <!-- Bootstrap core CSS-->
  <link th:href="@{/admin/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link th:href="@{/admin/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link th:href="@{/admin/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link th:href="@{/admin/css/sb-admin.css}" rel="stylesheet">

  <style>
  .small-alert {
    font-size: 0.7em;
  }
  .ticket {
    display: inline;
  }
  .search-row {
    margin: 10px 0;
  }

  @media (max-width: 1300px) {
    .ticket-status {
      font-size: 0.7em;
    }
  }  
  </style>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

  <div th:replace="admin/navbar"></div>

  <div class="content-wrapper">
    <div class="container-fluid">

      <!-- Bookings Card-->
      <div class="card mb-3">
        
        <div class="card-header">
          <i class="fa fa-table"></i> Marxism Festival Bookings
        </div>

        <div class="card-body">

          <div class="row search-row">
            <div class="col-sm-6">
              <select id="isActionedSelect" class="form-control" onchange="javascript:search()">
                <option th:value="true" th:selected="${isActioned == true}">Actioned</option>
                <option th:value="false" th:selected="${isActioned == false}">Unactioned</option>
              </select>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Status</th>
                  <th>Booking Date</th>
                  <th>Full Name</th>
                  <th>Email</th>
                  <th>Telephone</th>
                  <th>Ticket</th>
                  <th>Info</th>
                  <th style="display : none;">Ticket Pricing</th>
                  <th style="display : none;">Ticket Pricing</th>
                  <th style="display : none;">After Party</th>
                  <th style="display : none;">Sort date</th>
                  <th style="display : none;">Is Actioned</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="booking : ${bookingList}">
                  <th th:text="${booking.id}">id</th>
                  <th th:text="${booking.status}">status</th>
                  <th th:text="${#dates.format(booking.date, 'dd MMM HH:mm')}">date</th>
                  <th th:text="${booking.fullname}">fullname</th>
                  <th th:text="${booking.email}">email</th>
                  <th th:text="${booking.telephone}">telephone</th>
                  <th th:text="${booking.ticket.type}">type</th>
                  <th th:text="${booking.ticket.pricing}">info</th>
                  <th th:text="${booking.accommodationNeeds}" style="display : none;">accommodation</th>
                  <th th:text="${booking.requiresCreche}" style="display : none;">creche</th>
                  <th th:text="${booking.ticket.afterParty}" style="display : none;">after party</th>
                  <th th:text="${#dates.format(booking.date, 'yyyy-MM-dd-HH-mm')}" style="display : none;">sort date</th>
                  <th th:text="${booking.isActioned}" style="display : none;">is actioned</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->

    <div th:replace="admin/footer"></div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/admin/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- Core plugin JavaScript-->
    <script th:src="@{/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <!-- Page level plugin JavaScript-->
    <script th:src="@{/admin/vendor/chart.js/Chart.min.js}"></script>
    <script th:src="@{/admin/vendor/datatables/jquery.dataTables.js}"></script>
    <script th:src="@{/admin/vendor/datatables/dataTables.bootstrap4.js}"></script>
    <!-- Custom scripts for all pages-->
    <script th:src="@{/admin/js/sb-admin.min.js}"></script>
    <script>

      function search() {
        var isActioned = $('select#isActionedSelect').val()
        window.location.href = '/bookings/?isActioned=' + isActioned
      }
      $(document).ready(function(){

        //Close nav bar
        $("#sidenavToggler").click();        

        $("#dataTable").DataTable( {
          "order": [
                    [ 11, "desc" ]
                   ],
          "columnDefs": [
                {
                    "render": function ( data, type, row ) {
                      return '<a href="/bookings/view/' + data + '">MRX' + data +'</a>'
                    },
                    "targets": 0
                },
                {
                      "render": function ( data, type, row ) {
                        var alert = 'secondary'

                        if( data == 'UNCONFIRMED') alert = 'primary';
                        if( data == 'PAID') alert = 'success';
                        if( data == 'CANCELLED') alert = 'danger';

                          return '<div class="ticket-status alert alert-' + alert + '" role="alert">' + data +'</div>'
                      },
                      "targets": 1
                  },
                  {
                      "render": function ( data, type, row ) {
                        var ticketType = row[6]
                        var ticketPricing = row[7]

                      var ticketTypeAlert = 'secondary'
                        var ticketPricingAlert = 'secondary'

                      if( ticketType == 'FULL') ticketTypeAlert = 'primary';
                      if( ticketType == 'DAY') ticketTypeAlert = 'danger';

                        if( ticketPricing == 'WAGED') ticketPricingAlert = 'primary';
                      if( ticketPricing == 'UNWAGED') ticketPricingAlert = 'success';
                      if( ticketPricing == 'STUDENT_FE') ticketPricingAlert = 'danger';
                      if( ticketPricing == 'STUDENT_HE') ticketPricingAlert = 'warning';

                        var html = '<div class="ticket small-alert alert alert-' + ticketTypeAlert + '" role="alert">' + ticketType + '</div>'
                        html += '&nbsp;<div class="ticket small-alert alert alert-' + ticketPricingAlert + '" role="alert">' + ticketPricing +'</div>'
                        return html
                      },
                      "targets": 6
                  },
                  {
                      "render": function ( data, type, row ) {
                        var accommodationNeeds = row[8]
                        var requiresCreche = row[9]
                        var afterParty = row[10]
                        var isActioned = row[11]

                        console.log( isActioned )

                        var html = ''
                        if(isActioned != '') {
                          html = '<i class="fa fa-check fa-lg" aria-hidden="true"></i>';
                        }
                        if(accommodationNeeds != '') {
                          html = '<i class="fa fa-home fa-lg" aria-hidden="true"></i>';
                        }
                        if(requiresCreche === 'true') {
                          html += ' <i class="fa fa-child fa-lg"></i>';
                        }
                        if(afterParty === 'true') {
                           html += ' <i class="fa fa-music fa-lg"></i>';
                        }
                        console.log( html )
                        return html
                      },
                      "targets": 7
                  }
              ]
          } );
      } );
    </script>
  </div>
</body>

</html>
