<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Marxism Bookings</title>
  <!-- Bootstrap core CSS-->
  <link th:href="@{/admin/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link th:href="@{/admin/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link th:href="@{/admin/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link th:href="@{/admin/css/sb-admin.css}" rel="stylesheet">

  <style>
  .small-alert {
    font-size: 0.7em;
  }
  </style>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

  <div th:replace="admin/navbar"></div>

  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Icon Cards-->
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-comments"></i>
              </div>
              <div class="mr-5">26 New Bookings</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>

      <!-- Bookings Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Marxism Festival Bookings</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Status</th>
                  <th>Booking Date</th>
                  <th>Full Name</th>
                  <th>Email</th>
                  <th>Telephone</th>
                  <th>Ticket</th>
                  <th>Info</th>
                  <th style="display : none;">Ticket Pricing</th>
                  <th style="display : none;">Ticket Pricing</th>
                  <th style="display : none;">After Party</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="booking : ${bookingList}">
                  <th th:text="${booking.id}">id</th>
                  <th th:text="${booking.status}">status</th>
                  <th th:text="${#dates.format(booking.date, 'dd MMM HH:mm')}">date</th>
                  <th th:text="${booking.fullname}">fullname</th>
                  <th th:text="${booking.email}">email</th>
                  <th th:text="${booking.telephone}">telephone</th>
                  <th th:text="${booking.ticket.type}">type</th>
                  <th th:text="${booking.ticket.pricing}">info</th>
                  <th th:text="${booking.accommodationNeeds}" style="display : none;">accommodation</th>
                  <th th:text="${booking.requiresCreche}" style="display : none;">creche</th>
                  <th th:text="${booking.ticket.afterParty}" style="display : none;">after party</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->

    <div th:replace="admin/footer"></div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/admin/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- Core plugin JavaScript-->
    <script th:src="@{/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <!-- Page level plugin JavaScript-->
    <script th:src="@{/admin/vendor/chart.js/Chart.min.js}"></script>
    <script th:src="@{/admin/vendor/datatables/jquery.dataTables.js}"></script>
    <script th:src="@{/admin/vendor/datatables/dataTables.bootstrap4.js}"></script>
    <!-- Custom scripts for all pages-->
    <script th:src="@{/admin/js/sb-admin.min.js}"></script>
    <script>
    	$(document).ready(function(){

        //Close nav bar
        $("#sidenavToggler").click();        

    		$("#dataTable").DataTable( {
    	        "columnDefs": [
                {
                    "render": function ( data, type, row ) {
                      return '<a href="/bookings/view/' + data + '">MRX' + data +'</a>'
                    },
                    "targets": 0
                },
                {
                      "render": function ( data, type, row ) {
                    	  var alert = 'secondary'

                    	  if( data == 'UNCONFIRMED') alert = 'primary';
                    	  if( data == 'PAID') alert = 'success';
                    	  if( data == 'CANCELLED') alert = 'danger';

                          return '<div class="small-alert alert alert-' + alert + '" role="alert">' + data +'</div>'
                      },
                      "targets": 1
                  },
                  {
                      "render": function ( data, type, row ) {
                        var ticketType = row[6]
                        var ticketPricing = row[7]

                    	var ticketTypeAlert = 'secondary'
                        var ticketPricingAlert = 'secondary'

                    	if( ticketType == 'FULL') ticketTypeAlert = 'primary';
                    	if( ticketType == 'DAY') ticketTypeAlert = 'danger';

                        if( ticketPricing == 'WAGED') ticketPricingAlert = 'primary';
                    	if( ticketPricing == 'UNWAGED') ticketPricingAlert = 'success';
                    	if( ticketPricing == 'STUDENT_FE') ticketPricingAlert = 'danger';
                    	if( ticketPricing == 'STUDENT_HE') ticketPricingAlert = 'warning';

                        var html = '<div class="small-alert alert alert-' + ticketTypeAlert + '" role="alert">' + ticketType +' ' + ticketPricing + '</div>'
                        //html += '&nbsp;<div class="alert alert-' + ticketPricingAlert + '" role="alert">' + ticketPricing +'</div>'
                        return html
                      },
                      "targets": 6
                  },
                  {
                      "render": function ( data, type, row ) {
                        var accommodationNeeds = row[8]
                        var requiresCreche = row[9]
                        var afterParty = row[10]

                        console.log( accommodationNeeds )
                        console.log( requiresCreche )

                        var html = ''

                        if(accommodationNeeds != '') {
                          html = '<i class="fa fa-home fa-lg" aria-hidden="true"></i>';
                        }
                        if(requiresCreche === 'true') {
                          html += ' <i class="fa fa-child fa-lg"></i>';
                        }
                        if(afterParty === 'true') {
                           html += ' <i class="fa fa-music fa-lg"></i>';
                        }
                        console.log( html )
                        return html
                      },
                      "targets": 7
                  }
              ]
          } );
      } );
    </script>
  </div>
</body>

</html>
