<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Marxism Bookings</title>
  <!-- Bootstrap core CSS-->
  <link th:href="@{/admin/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- Custom styles for this template-->
  <link th:href="@{/admin/css/sb-admin.css}" rel="stylesheet">

  <style>
    div.btn-row a {
      margin: 5px;
    }
    @media print {
      div.btn-row a {
        display: none;
      }
    }
  </style>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

  <div th:replace="admin/navbar"></div>

  <div class="content-wrapper">
    <div class="container-fluid">

      <div class="card mb-3">
        <div class="card-header"><i class="fa fa-table"></i> Marxism 2018 Booking - <span th:text="${booking.status}">status</span></div>
        <div class="card-body">

          <h3>Booking Reference : <span th:text="${'MRX' + booking.id}">Id</span></h3>

          <div class="row">
            <div class="col-sm-6">
              <div>Name: <span th:text="${booking.fullname}">name</span></div>
              <div>Date: <span th:text="${#dates.format(booking.date, 'dd MMMM HH:mm')}">date</span></div>
              <div>Name: <span th:text="${booking.fullname}">fullname</span></div>
              <div>Email: <span th:text="${booking.email}">email</span></div>
              <div>Phone: <span th:text="${booking.telephone}">telephone</span></div>
              <div>Other: <span th:text="${booking.otherMembership}">Other Membership</span></div>
              <div>Source: <span th:text="${booking.hearAbout}">Source</span></div>
            </div>
            <div class="col-sm-6">
              <div>Address1: <span th:text="${booking.address.address1}">address1</span></div>
              <div>Address2: <span th:text="${booking.address.address2}">address2</span></div>
              <div>Town: <span th:text="${booking.address.town}">town</span></div>
              <div>Postcode: <span th:text="${booking.address.postcode}">postcode</span></div>
              <div>Country: <span th:text="${booking.address.country}">country</span></div>
            </div>
          </div><!--/.row -->

        </div>
      </div><!-- /.card -->

      <div class="card mb-3">
        <div class="card-header"><i class="fa fa-ticket"></i> Ticket Details</div>
        <div class="card-body">

          <div class="row">
            <div class="col-sm-6">
              <div>Type : <span th:text="${booking.ticket.type}">name</span></div>
              <div>Pricing : <span th:text="${booking.ticket.pricing}">name</span></div>
            </div>
            <div class="col-sm-6">
              <div>Price : <span th:text="${new java.text.DecimalFormat('£#,##0.00;£-#,##0.00').format(booking.price)}">price</span></div>
              <div th:if="${booking.ticket.afterParty == true}">After Party : <i class="fa fa-check fa-lg" aria-hidden="true"></i></div>
              <div th:if="${booking.ticket.thursday != null}">Thursday : <span th:text="${booking.ticket.thursday}"></span> ticket(s) </div>
              <div th:if="${booking.ticket.friday != null}">Friday : <span th:text="${booking.ticket.friday}"></span> ticket(s) </div>
              <div th:if="${booking.ticket.saturday != null}">Saturday : <span th:text="${booking.ticket.saturday}"></span> ticket(s) </div>
              <div th:if="${booking.ticket.sunday != null}">Sunday : <span th:text="${booking.ticket.sunday}"></span> ticket(s) </div>
            </div>
          </div><!--/.row -->

        </div>
      </div><!-- /.card -->

      <div class="card mb-3" th:if="${booking.accommodationNeeds != null or booking.accommodationContact != null}">
        <div class="card-header"><i class="fa fa-home" aria-hidden="true"></i> Accommodation</div>
        <div class="card-body">

          <h3>Accommodation Needs : <span th:text="${booking.accommodationNeeds}">needs</span></h3>

          <h3>Accommodation Contact : <span th:text="${booking.accommodationContact}">contact</span></h3>

        </div>
      </div><!-- /.card -->

      <div class="card mb-3" th:if="${booking.requiresCreche == true}">
        <div class="card-header"><i class="fa fa-child"></i> Creche</div>
        <div class="card-body">

          <h3 th:if="${booking.childrenUnder18Months != null}">Children under 18 months: <span th:text="${booking.childrenUnder18Months}"></span></h3>

          <h3 th:if="${booking.children18MonthsTo5Years != null}">Children 18 months to 5 years: <span th:text="${booking.children18MonthsTo5Years}"></span></h3>

          <h3 th:if="${booking.children5YearsTo11years != null}">Children 5 years to 11 years: <span th:text="${booking.children5YearsTo11years}"></span></h3>

        </div>
      </div><!-- /.card -->

      <div class="btn-row">
        <a href="javascript:window.print();" class="btn btn-secondary">Print</a>
        <a th:href="@{/bookings/action/false/{id}(id=${booking.id})}" class="btn btn-secondary" th:if="${booking.isActioned == true}">Unaction</a>
        <a th:href="@{/bookings/action/true/{id}(id=${booking.id})}" class="btn btn-primary" th:if="${booking.isActioned == false}">Action</a>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->

    <div th:replace="admin/footer"></div>

    <script th:src="@{/admin/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/admin/js/sb-admin.min.js}"></script>
    <script>
    	$(document).ready(function(){

      } );
    </script>
  </div>
</body>

</html>
