<!-- ABOUT  ================================================== -->
<section class="section_features" id="section_features">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">

				<h2 class="page-header text-center">
					<span>Marxism 2017</span> a socialist festival of ideas.
				</h2>

				<h2 class="page-header text-center">5 - 8 July, Central London,
					Four Days of Meetings and events.</h2>

				<p class="page-subheader text-center">Marxism 2018 is a four day
					political festival of socialist ideas hosted by the Socialist
					Workers Party.</p>

				<p class="page-subheader text-center">If you were excited by
					Jeremy Corbyn's election as Labour leader, horrified by Donald
					Trump, want to challenge racism and oppression, desire action over
					climate change or are looking for an alternative to austerity and
					war then Marxism Festival 2018 is the place for you.</p>

			</div>
		</div><!-- / .row -->
		
		<!-- First Row -->
		
		<div class="row">
			<div class="col-sm-4">

				<div class="features__item animate-sm-step-0"
					data-animate="animate-up">
					<div class="features__item__icon">
						<i class="ion-android-laptop"></i>
					</div>
					<h3 class="features__item__heading">Marxism 2017</h3>
					<div class="features__item__body">
						Watch the opening rally of
						<a href="https://www.youtube.com/watch?v=6h02msZ_vYk&autoplay=1" class="swipebox" title=""> Marxism 2017</a>.
						Videos of meetings of Marxism 2017 and previous conference are available  
						<a href="https://www.youtube.com/user/swpTvUk/" target="_blank">here</a>.
					</div>
				</div>

			</div>
			<div class="col-sm-4">

				<div class="features__item animate-sm-step-1"
					data-animate="animate-up">
					<div class="features__item__icon">
						<i class="ion-android-options"></i>
					</div>
					<h3 class="features__item__heading">Justice for Grenfell</h3>
					<div class="features__item__body">The event kicked off with
						activists from Justice for Grenfell, Momentum and striking
						cleaners addrsssing our opening rally (video here).</div>
				</div>

			</div>
			<div class="col-sm-4">

				<div class="features__item animate-sm-step-2"
					data-animate="animate-up">
					<div class="features__item__icon">
						<i class="ion-android-color-palette"></i>
					</div>
					<h3 class="features__item__heading">Closing Rally</h3>
					<div class="features__item__body">Other highlights included
						Moazzam Begg, ex-Guantanamo Bay detainee, addressing the closing
						rally on the fight against Islamophobia (video here).</div>
				</div>

			</div>
		</div><!-- / .row -->
		
		<div class="row">
			<div class="col-sm-4">

				<div class="features__item animate-sm-step-0"
					data-animate="animate-up">
					<div class="features__item__icon">
						<i class="ion-android-checkmark-circle"></i>
					</div>
					<h3 class="features__item__heading">Join Us This Year</h3>
					<div class="features__item__body">Marxism Festival takes
						place every year in central London and involves debate, spoken
						word, cultural events and more. The dates for Marxism 2018 are 5
						to 8 July.</div>
				</div>

			</div>
			<div class="col-sm-4">

				<div class="features__item animate-sm-step-1"
					data-animate="animate-up">
					<div class="features__item__icon">
						<i class="ion-android-send"></i>
					</div>
					<h3 class="features__item__heading">Contact form</h3>
					<div class="features__item__body">Contact us for more
						information</div>
				</div>

			</div>
			<div class="col-sm-4">

				<div class="features__item animate-sm-step-2"
					data-animate="animate-up">
					<div class="features__item__icon">
						<i class="ion-android-mail"></i>
					</div>
					<h3 class="features__item__heading">Free support by email</h3>
					<div class="features__item__body">Lorem ipsum dolor sit amet,
						consectetur adipisicing elit. Eius officiis temporibus dolor
						tempore blanditiis nulla amet atque repellendus fuga maxime.</div>
				</div>

			</div>
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->
</section>