<!-- ABOUT  ================================================== -->
<section class="section_about" id="section_about" style="padding-top: 50px;" th:if="${content.showAbout == true}">
	<div class="container">

		<div class="row" style="padding-bottom: 40px;">
			<div class="col-sm-12">

				<h2 class="page-header text-center" th:text="${content.aboutHeading}" style="margin-bottom: 2px;">Marxism 2018</h2>

				<h2 class="page-header text-center" style="margin-bottom: 2px;">
					<span th:text="${content.aboutLine2}">A festival of socialist ideas</span>
				</h2>

				<h2 class="page-header text-center" th:text="${content.aboutLine3}" style="margin-bottom: 25px; color : #808080"></h2>

				<div id="about_blurb" th:utext="${content.aboutText}"></div>
				
			</div>
		</div><!-- / .row -->

		<!-- First Row -->

		<div class="row">
		
			<div class="col-sm-4" th:each="i : ${#numbers.sequence( 0, 2 )}">
			
				<div th:replace="fragments :: about( ${content.abouts[i]} )"></div>
				
			</div>
			
		</div>
		
		<!-- Second Row -->
		
		<div class="row">
		
			<div class="col-sm-4" th:each="i : ${#numbers.sequence( 3, 5 )}">
			
				<div th:replace="fragments :: about( ${content.abouts[i]} )"></div>
				
			</div>
			
		</div>		

		
		<!-- Third Row -->

		<div class="row">

			<div class="col-sm-4" th:each="i : ${#numbers.sequence( 6, 8 )}">
			
				<div th:replace="fragments :: about( ${content.abouts[i]} )"></div>
				
			</div>		

		</div>
		<!-- / .row -->

		<hr/>

		<div class="row">
			<div class="col-xs-4 social-container">
				<a class="twitter social-icon" title="Festival on Twitter" th:attr="href=${content.twitterPage}">
					<ion-icon name="logo-twitter"></ion-icon>
				</a>
			</div>
			<div class="col-xs-4 social-container">
				<a class="facebook social-icon" title="Festival on Facebook" th:attr="href=${content.facebookPage}">
					<ion-icon name="logo-facebook"></ion-icon>
				</a>
			</div>
			<div class="col-xs-4 social-container">
				<a class="instagram social-icon" title="Festival on Instagram" th:attr="href=${content.instagramPage}">
					<ion-icon name="logo-instagram"></ion-icon>
				</a>
			</div>
		</div>
	</div>
	<!-- / .container -->
</section>
