<!-- ABOUT  ================================================== -->
<section class="section_features" id="section_features" style="padding-top: 50px;">
	<div class="container">
	
		<div class="row" style="padding-bottom: 40px;">
					<div class="col-md-3"></div>
					<div class="col-md-6">
					
						<h2 class="page-header text-center" th:text="${content.about.heading}" style="margin-bottom: 2px;" />
		
						<h2 class="page-header text-center" style="margin-bottom: 2px;">
							<span th:text="${content.about.subHeading}">A festival of socialist ideas</span>
						</h2>
		
						<h2 class="page-header text-center" th:text="${content.about.subSubHeading}" style="margin-bottom: 25px; color : #808080"/>	
										
						<div style="text-align : left;">If you were excited by
							Jeremy Corbyn's election as Labour leader, horrified by Donald
							Trump, want to challenge racism and oppression, desire action over
							climate change or are looking for an alternative to austerity and
							war then Marxism Festival 2018 is the place for you.
						</div>					
					</div>
					<div class="col-md-3"></div>
		</div><!-- / .row -->
		
		<!-- First Row -->
		
		<div class="row">
			<div class="col-sm-4">

				<div class="features__item animate-sm-step-0"
					data-animate="animate-up">
					<div class="features__item__icon">
						<i class="ion-ios-star"></i>
					</div>
					<h3 class="features__item__heading">About Us</h3>
					<div class="features__item__body">
						Mauris id efficitur sem. Donec vestibulum dolor tortor, ut aliquam ligula sodales non. Praesent viverra dolor non massa pharetra tincidunt. 
					</div>
				</div>

			</div>
			<div class="col-sm-4">

				<div class="features__item animate-sm-step-1"
					data-animate="animate-up">
					<div class="features__item__icon">
						<i class="ion-earth"></i>
					</div>
					<h3 class="features__item__heading">Themes</h3>
					<div class="features__item__body">
						Nunc sed blandit dui. Phasellus lacinia iaculis justo nec elementum. Morbi vel urna velit. Nulla pharetra a erat in vestibulum.  
					</div>
				</div>

			</div>
			<div class="col-sm-4">

				<div class="features__item animate-sm-step-2"
					data-animate="animate-up">
					<div class="features__item__icon">
						<i class="ion-ios-people"></i>
					</div>
					<h3 class="features__item__heading">Speakers</h3>
					<div class="features__item__body">
						Mauris id efficitur sem. Donec vestibulum dolor tortor, ut aliquam ligula sodales non. Praesent viverra dolor non massa pharetra tincidunt. 
					</div>
				</div>

			</div>
		</div><!-- / .row -->
		
		<div class="row">
			<div class="col-sm-4">

				<div class="features__item animate-sm-step-0"
					data-animate="animate-up">
					<div class="features__item__icon">
						<i class="ion-ios-body"></i>
					</div>
					<h3 class="features__item__heading">Creche</h3>
					<div class="features__item__body">
						Suspendisse eget neque sit amet tellus tincidunt congue. Quisque eu lobortis dolor. Morbi lacinia consectetur metus, a tincidunt mi laoreet a. Quisque volutpat luctus auctor. 
					</div>
				</div>

			</div>
			<div class="col-sm-4">

				<div class="features__item animate-sm-step-1"
					data-animate="animate-up">
					<div class="features__item__icon">
						<i class="ion-card"></i>
					</div>
					<h3 class="features__item__heading">Booking</h3>
					<div class="features__item__body">
						Mauris id efficitur sem. Donec vestibulum dolor tortor, ut aliquam ligula sodales non. Praesent viverra dolor non massa pharetra tincidunt. 
					</div>
				</div>

			</div>
			<div class="col-sm-4">

				<div class="features__item animate-sm-step-2"
					data-animate="animate-up">
					<div class="features__item__icon">
						<i class="ion-android-mail"></i>
					</div>
					<h3 class="features__item__heading">Contact</h3>
					<div class="features__item__body">
						Vestibulum viverra imperdiet lectus, id scelerisque massa vulputate sed. Vivamus eleifend egestas augue, sed aliquam ligula sodales sed. 
					</div>
				</div>

			</div>
		</div>
		<!-- / .row -->
		
		<div class="row">
			<div class="col-sm-4">

				<div class="features__item animate-sm-step-0"
					data-animate="animate-up">
					<div class="features__item__icon">
						<i class="ion-key"></i>
					</div>
					<h3 class="features__item__heading">Accomodation</h3>
					<div class="features__item__body">
						Suspendisse eget neque sit amet tellus tincidunt congue. Quisque eu lobortis dolor. Morbi lacinia consectetur metus, a tincidunt mi laoreet a. Quisque volutpat luctus auctor. 
					</div>
				</div>

			</div>
			<div class="col-sm-4">

				<div class="features__item animate-sm-step-1"
					data-animate="animate-up">
					<div class="features__item__icon">
						<i class="ion-ios-location"></i>
					</div>
					<h3 class="features__item__heading">Where to find us</h3>
					<div class="features__item__body">
						Mauris id efficitur sem. Donec vestibulum dolor tortor, ut aliquam ligula sodales non. Praesent viverra dolor non massa pharetra tincidunt. 
					</div>
				</div>

			</div>
			<div class="col-sm-4">

				<div class="features__item animate-sm-step-2"
					data-animate="animate-up">
					<div class="features__item__icon">
						<i class="ion-music-note"></i>
					</div>
					<h3 class="features__item__heading">Culture &amp; Entertainment</h3>
					<div class="features__item__body">
						Mauris id efficitur sem. Donec vestibulum dolor tortor, ut aliquam ligula sodales non. Praesent viverra dolor non massa pharetra tincidunt. 
					</div>
				</div>

			</div>
		</div>
		<!-- / .row -->		
	</div>
	<!-- / .container -->
</section>