<!-- BOOKINGS  ================================================== -->
<section class="section_booking section_alt hidden" id="section_booking" th:if="${content.showBooking == true}">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">

				<h2 id="booking_header" class="page-header text-center" th:if="${content.applyTicketDiscount == true}" th:text="${content.discountText}">Book before</h2>

				<div id="booking_form_container">
					<form id="booking-form" action="/book" method="post" class="form-horizontal" role="form">
						<fieldset>

							<div th:include="bookings/contact" id="contact_screen" class="booking_screen" />

							<div th:include="bookings/details" id="details_screen" class="booking_screen hidden" />

							<div th:include="bookings/address" id="address_screen" class="booking_screen hidden" />

							<div th:include="bookings/accommodation" id="accommodation_screen" class="booking_screen hidden" />

							<div th:include="bookings/creche" id="creche_screen" class="booking_screen hidden" />

							<div th:include="bookings/ticket" id="ticket_screen" class="booking_screen hidden" />

							<div th:include="bookings/confirmation" id="confirmation_screen" class="booking_screen hidden" />

							<div th:include="bookings/thankyou" id="thankyou_screen" class="booking_screen hidden" />

						</fieldset>
					</form>
				</div>

				<div class="form-actions">
					<button type="button" id="showPreviousButton" onclick="javascript:showPrevious()" class="btn btn-primary hidden">Previous</button>

					<button type="button" id="showNextButton" onclick="javascript:showNext()" class="btn btn-primary pull-right">Next</button>
				</div>

			</div>

		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->
</section>
