    <!-- BANNER
    ================================================== -->
    <section class="section_banner" id="section_banner">

      <!-- Images -->
      <div class="banner__carousel__img"
           data-images="/img/revolution.jpg, /img/sword.jpg, /img/pokemon.jpg">
      </div>

      <!-- Carousel -->
      <div id="banner__carousel" class="banner__carousel carousel" data-ride="carousel">

        <!-- Slides -->
        <div class="carousel-inner" role="listbox">
        
          <div class="item active">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <h1 class="h0 page-header text-white text-center animate-down animate-xs-step-0">
                   Marxism Festival <span>2018</span>
                  </h1>         
                  <div class="text-center">
                    <a href="#section_features" class="btn btn-primary animate-down animate-xs-step-2">
                      Find out more
                    </a>
                  </div>     
                </div>
              </div> <!-- / .row -->
            </div> <!-- / .container -->
          </div>
          
          <div class="item">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <h1 class="h0 page-header text-white text-center animate-down animate-xs-step-0">
                    A festival of <span>socialist ideas</span>
                  </h1>
                  <div class="text-center">
                    <a href="#section_features" class="btn btn-primary animate-down animate-xs-step-2">
                      Find out more
                    </a>
                  </div>     
                </div>
              </div> <!-- / .row -->
            </div> <!-- / .container -->
          </div>  
                  
          <div class="item">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <h1 class="h0 page-header text-white text-center animate-down animate-xs-step-0">
                    5 - 8 July, Central London
                  </h1>
                  <div class="text-center">
                    <a href="#section_features" class="btn btn-primary animate-down animate-xs-step-2">
                      Find out more
                    </a>
                  </div> 
                </div>
              </div> <!-- / .row -->
            </div> <!-- / .container -->
          </div>
          
          <div class="item">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <h1 class="h0 page-header text-white text-center animate-down animate-xs-step-0">
                   Marxism Festival <span>2018</span>
                  </h1> 
                  <div class="text-center">
                    <a href="#section_features" class="btn btn-primary animate-down animate-xs-step-2">
                      Find out more
                    </a>
                  </div> 
                </div>
              </div> <!-- / .row -->
            </div> <!-- / .container -->
          </div>
          
 		  <div class="item">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <h1 class="h0 page-header text-white text-center animate-down animate-xs-step-0">
                    A festival of <span>socialist ideas</span>
                  </h1> 
                  <div class="text-center">
                    <a href="#section_features" class="btn btn-primary animate-down animate-xs-step-2">
                      Find out more
                    </a>
                  </div> 
                </div>
              </div> <!-- / .row -->
            </div> <!-- / .container -->
          </div> 
          
          <div class="item">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <h1 class="h0 page-header text-white text-center animate-down animate-xs-step-0">
                    5 - 8 July, Central London
                  </h1>
                  <div class="text-center">
                    <a href="#section_features" class="btn btn-primary animate-down animate-xs-step-2">
                      Find out more
                    </a>
                  </div> 
                </div>
              </div> <!-- / .row -->
            </div> <!-- / .container -->
          </div>
          
 		  <div class="item">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <h1 class="h0 page-header text-white text-center animate-down animate-xs-step-0">
                    A festival of <span>socialist ideas</span>
                  </h1> 
                  <div class="text-center">
                    <a href="#section_features" class="btn btn-primary animate-down animate-xs-step-2">
                      Find out more
                    </a>
                  </div> 
                </div>
              </div> <!-- / .row -->
            </div> <!-- / .container -->
          </div>  
                             
        </div>

        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#banner__carousel" data-slide-to="0" class="active"></li>
          <li data-target="#banner__carousel" data-slide-to="1"></li>
          <li data-target="#banner__carousel" data-slide-to="2"></li>
          <li data-target="#banner__carousel" data-slide-to="3"></li>
          <li data-target="#banner__carousel" data-slide-to="4"></li>
          <li data-target="#banner__carousel" data-slide-to="5"></li>
          <li data-target="#banner__carousel" data-slide-to="6"></li>
        </ol>

        <!-- Controls -->
        <a class="left carousel-control" href="#banner__carousel" role="button" data-slide="prev">
          <span class="ion-android-arrow-back" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#banner__carousel" role="button" data-slide="next">
          <span class="ion-android-arrow-forward" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div> <!-- / .carousel -->

    </section>
    
                  
                 
