<!-- CONTACT   ================================================== -->
<section class="section_contact" id="section_contact">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">

				<h2 class="page-header text-center">
					Get in touch <span>with us</span>
				</h2>

				<p class="page-subheader text-white-muted text-center">Do not hesitate to drop us a line. Tel : 020 7840 5620</p>

			</div>
		</div>
		<!-- / .row -->
		<div class="row">
			<div class="col-xs-12">

				<div class="contact__container">
					<div class="row">
						<div class="col-sm-8">

							<!-- Form -->
							<form class="contact__container__form" id="form_sendemail">

								<!-- Header -->
								<div class="form-group">
									<h3>Send us a message</h3>
								</div>

								<!-- Alert message -->
								<div class="alert" id="form_message" role="alert"></div>

								<!-- Email -->
								<div class="form-group">
									<label for="email" class="sr-only">Email address *</label> <input type="email" class="form-control" id="contactFormEmail" placeholder="Enter your email address"> <span
										class="help-block"></span>
								</div>

								<!-- Name -->
								<div class="form-group">
									<label for="name" class="sr-only">Name *</label> <input type="text" class="form-control" id="contactFormName" placeholder="Enter your name"> <span class="help-block"></span>
								</div>

								<!-- Message -->
								<div class="form-group">
									<label for="message" class="sr-only">Message *</label>
									<textarea class="form-control" id="contactFormMessage" placeholder="Enter your message"></textarea>
									<span class="help-block"></span>
								</div>

								<!-- Submit -->
								<button type="button" onclick="javascript:sendEmail()" class="btn btn-primary">Send Message</button>

							</form>

						</div>
						<div class="col-sm-4">

							<ul class="contact__container__info">
								<li>
									<h3>Contact info</h3>
								</li>
								<li><i class="ion-android-call"></i>
									<p>
										<a href="tel:02078405620">020 7840 5620</a>
									</p></li>
								<li><i class="ion-android-mail"></i>
									<p>
										<a href="mailto: info@marxismfestival.org.uk">info@marxismfestival.org.uk</a>
									</p></li>
								<li><i class="ion-android-pin"></i>
									Marxism Festival 2018<br/>
										PO Box 71327<br/>
										London<br/>
										SW11 9BW
									</ul>
								</li>									
							</ul>

						</div>
					</div>
					<!-- / .row -->
				</div>

			</div>
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->
</section>