<!-- FOOTER    ================================================== -->
<footer class="section_footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">

				<p class="footer__copyright">
					<span id="footer__year">2018</span> &copy; Marxism Festival 2019
				</p>

			</div>
			<div class="col-sm-3">

				<ul class="footer__social">
					<li><a class="twitter" th:attr="href=${content.twitterPage}">
						<ion-icon name="ion-social-twitter"></ion-icon>
					</a></li>
					<li><a class="facebook" th:attr="href=${content.facebookPage}">
						<ion-icon name="ion-social-facebook"></ion-icon>
					</a></li>
					<li><a class="pinterest" th:attr="href=${content.instagramPage}">
						<ion-icon name="ion-social-instagram"></ion-icon>
					</a></li>
				</ul>

			</div>
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->
</footer>