<!-- GALLERY  ================================================== -->
<section class="section_pricing section_alt" id="section_gallery" th:if="${content.showGallery == true}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <h2 class="page-header text-center">
        Galleries and videos of previous <span>Marxism Festivals</span>
        </h2>

      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-sm-4">
		<a id="swipeBoxButton" target="_blank">
	        <div class="pricing__item animate-sm-step-0" data-animate="animate-up">
	          <h3 class="gallery-text text-center">
	            Gallery of previous Marxism Festivals
	          </h3>
	          <div class="gallery-icon text-center">
	          	<ion-icon name="camera"></ion-icon>
	          </div>
	        </div> <!-- / .pricing__item -->
        </a>
      </div>

      <div class="col-sm-4">
		<a href="https://soundcloud.com/socialist-workers-party" target="_blank">
	        <div class="pricing__item animate-sm-step-1" data-animate="animate-up">
	          <h3 class="gallery-text text-center">
	            Audio files of previous Marxism Festivals
	          </h3>
	          <div class="gallery-icon text-center">
	          	<ion-icon name="megaphone"></ion-icon>
	          </div>
	        </div> <!-- / .pricing__item -->
        </a>

      </div>
                
      <div class="col-sm-4">
		<a th:attr="href=${content.videosUrl}" target="_blank">
	        <div class="pricing__item animate-sm-step-2" data-animate="animate-up">
	          <h3 class="gallery-icon text-center">
	            Videos of previous Marxism Festivals
	          </h3>
	          <div class="gallery-icon text-center">
	          	<ion-icon name="videocam"></ion-icon>
	          </div>
	        </div> <!-- / .pricing__item -->
        </a>
      </div>

    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

