<!-- GALLERY  ================================================== -->
<section class="section_pricing section_alt" id="section_gallery">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <h2 class="page-header text-center">
        Galleries and videos of previous <span>Marxism Festivals</span>
        </h2>

      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-sm-4">
		<a id="swipeBoxButton" target="_blank">
	        <div class="pricing__item animate-sm-step-0" data-animate="animate-up">
	          <h3 class="gallery-text text-center">
	            Gallery of previous Marxism Festivals
	          </h3>
	          <div class="gallery-icon text-center">
	          	<i class="ion-ios-camera"></i>
	          </div>
	        </div> <!-- / .pricing__item -->
        </a>
      </div>

      <div class="col-sm-4">
		<a href="https://soundcloud.com/socialist-workers-party" target="_blank">
	        <div class="pricing__item animate-sm-step-1" data-animate="animate-up">
	          <h3 class="gallery-text text-center">
	            Audio files of previous Marxism Festivals
	          </h3>
	          <div class="gallery-icon text-center">
	          	<i class="ion-speakerphone"></i>
	          </div>
	        </div> <!-- / .pricing__item -->
        </a>

      </div>
                
      <div class="col-sm-4">
		<a href="https://www.youtube.com/playlist?list=PLCTKWsE4qK-r8JT7xclqKoo4NNK6e5Smd" target="_blank">
	        <div class="pricing__item animate-sm-step-2" data-animate="animate-up">
	          <h3 class="gallery-icon text-center">
	            Videos of previous Marxism Festivals
	          </h3>
	          <div class="gallery-icon text-center">
	          	<i class="ion-videocamera"></i>
	          </div>
	        </div> <!-- / .pricing__item -->
        </a>
      </div>

    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

