<!-- Gallery ================================================== -->
<section class="section_portfolio" id="section_portfolio">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">

				<h2 class="page-header text-center sr-only">
					Click on the image below to see photos of <span>Marxism
						conferences</span> from previous years
				</h2>

			</div>
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 col-lg-4">

				<div class="portfolio__item">
					<div class="portfolio__item__img">
						<img th:src="@{/img/1.jpg}" class="img-responsive" alt="...">
						<div class="portfolio__item__img__mask">
							<h3 class="text-center">Lorem ipsum dolor site amet</h3>
							<div class="text-center">
								<a href="javascript:openGallery('pp_default')"
									class="btn btn-primary" role="button"> Open preview </a>
							</div>
						</div>
						<!-- / .portfolio__item__img__mask -->
					</div>
					<!-- / .portfolio__item__img -->
				</div>
				<!-- / .portfolio__item -->

			</div>
			<div class="col-sm-6 col-lg-4">

				<div class="portfolio__item">
					<div class="portfolio__item__img">
						<img th:src="@{/img/2.jpg}" class="img-responsive" alt="...">
						<div class="portfolio__item__img__mask">
							<h3 class="text-center">Lorem ipsum dolor site amet</h3>
							<div class="text-center">
								<a href="javascript:openGalleryPicnic('facebook')"
									class="btn btn-primary" role="button"> Open preview </a>
							</div>
						</div>
						<!-- / .portfolio__item__img__mask -->
					</div>
					<!-- / .portfolio__item__img -->
				</div>
				<!-- / .portfolio__item -->

			</div>
			<div class="col-sm-6 col-lg-4">

				<div class="portfolio__item">
					<div class="portfolio__item__img">
						<img th:src="@{/img/3.jpg}" class="img-responsive" alt="...">
						<div class="portfolio__item__img__mask">
							<h3 class="text-center">Lorem ipsum dolor site amet</h3>
							<div class="text-center">
								<a href="javascript:openGallery('dark_square')"
									class="btn btn-primary" role="button"> Open dark square </a>
							</div>
						</div>
						<!-- / .portfolio__item__img__mask -->
					</div>
					<!-- / .portfolio__item__img -->
				</div>
				<!-- / .portfolio__item -->

			</div>
			<div class="col-sm-6 col-lg-4">

				<div class="portfolio__item">
					<div class="portfolio__item__img">
						<img th:src="@{/img/4.jpg}" class="img-responsive" alt="...">
						<div class="portfolio__item__img__mask">
							<h3 class="text-center">Lorem ipsum dolor site amet</h3>
							<div class="text-center">
								<a href="https://www.youtube.com/watch?v=6h02msZ_vYk&autoplay=1"
									class="btn btn-primary swipebox" title=""> Open video </a>
							</div>
						</div>
						<!-- / .portfolio__item__img__mask -->
					</div>
					<!-- / .portfolio__item__img -->
				</div>
				<!-- / .portfolio__item -->

			</div>
			<div class="col-sm-6 col-lg-4">

				<div class="portfolio__item">
					<div class="portfolio__item__img">
						<img th:src="@{/img/5.jpg}" class="img-responsive" alt="...">
						<div class="portfolio__item__img__mask">
							<h3 class="text-center">Lorem ipsum dolor site amet</h3>
							<div class="text-center">
								<button type="button" id="swipeBoxButton"
									class="btn btn-primary" role="button">swipeBoxButton</button>
							</div>
						</div>
						<!-- / .portfolio__item__img__mask -->
					</div>
					<!-- / .portfolio__item__img -->
				</div>
				<!-- / .portfolio__item -->

			</div>
			<div class="col-sm-6 col-lg-4">

				<div class="portfolio__item">
					<div class="portfolio__item__img">
						<img th:src="@{/img/7.jpg}" class="img-responsive" alt="...">
						<div class="portfolio__item__img__mask">
							<h3 class="text-center">Lorem ipsum dolor site amet</h3>
							<div class="text-center">
								<a href="javascript:openGallery('light_rounded')"
									class="btn btn-primary" role="button"> Open light rounded </a>
							</div>
						</div>
						<!-- / .portfolio__item__img__mask -->
					</div>
					<!-- / .portfolio__item__img -->
				</div>
				<!-- / .portfolio__item -->

			</div>
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container-fluid -->
</section>