<!-- Gallery ================================================== -->
<section class="section_gallery section_alt" id="section_gallery">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">

				<h2 class="page-header text-center">
					Galleries and <span>videos</span>
				</h2>

			</div>
		</div>
		<!-- / .row -->
	</div>

	<div class="container">
		<div class="row">

			<div class="col-sm-4 video-block gallery-block">
				<a id="swipeBoxButton">
					<div class="video-image">
						<img th:src="@{/img/conference/closing_rally.jpg}" class="img-responsive" alt="...">
					</div>
					<div class="camera-icon" style="text-align: center;">
						<i class="ion-ios-camera"></i>
					</div>
				</a>
			</div>

			<div class="col-sm-4 video-block">
				<div class="block">
					<a class="swipebox video-anchor" href="https://www.youtube.com/watch?v=xCeGeH2AWK8&autoplay=1">
						<div class="video-title">Putney Debates - Paul Foot - audio only</div>
						<div class="video-icon">
							<i class="ion-ios-videocam" style="font-size: 2em;"></i>
						</div>
					</a>
				</div>
				<div class="block">
					<a class="swipebox video-anchor" href="https://www.youtube.com/watch?v=_J1xv0srAGU&t=39s">
						<div class="video-title">A tribute to John Berger - John Molyneux</div>
						<div class="video-icon">
							<i class="ion-ios-videocam" style="font-size: 2em;"></i>
						</div>
					</a>
				</div>
				<div class="block">
					<a class="swipebox video-anchor" href="https://www.youtube.com/watch?v=nIi-dMHYC6c">
						<div class="video-title">Haringey residents fight the HDV</div>
						<div class="video-icon">
							<i class="ion-ios-videocam" style="font-size: 2em;"></i>
						</div>
					</a>
				</div>
			</div>

			<div class="col-sm-4 video-block">
				<div class="block">
					<a class="swipebox video-anchor" href="https://www.youtube.com/watch?v=D-wSrNWeeOQ">
						<div class="video-title">Corbyn in power: what would a Labour government look like? - Charlie Kimber</div>
						<div class="video-icon">
							<i class="ion-ios-videocam" style="font-size: 2em;"></i>
						</div>
					</a>
				</div>
				<div class="block">
					<a class="swipebox video-anchor" href="https://www.youtube.com/watch?v=6h02msZ_vYk&autoplay=1">
						<div class="video-title">Neoliberalism in the Workplace: The Political economy of Bullshit</div>
						<div class="video-icon">
							<i class="ion-ios-videocam" style="font-size: 2em;"></i>
						</div>
					</a>
				</div>
				<div class="block">
					<a class="swipebox video-anchor" href="https://www.youtube.com/watch?v=6h02msZ_vYk&autoplay=1">
						<div class="video-title">Economic crisis and the long depression - Michael Roberts</div>
						<div class="video-icon">
							<i class="ion-ios-videocam" style="font-size: 2em;"></i>
						</div>
					</a>
				</div>
			</div>

		</div>
		<!-- / .row -->
	</div>
	<!-- / .container-fluid -->
</section>