<!-- MEETINGS  ================================================== -->
<section class="section_themes section_alt" id="section_themes"	th:if="${content.showSpeakers == true}">

	<div class="container">

		<div class="row">
			<div class="col-xs-12">

				<h2 class="page-header text-center">Meetings</h2>

			</div>
		</div>
		

		<div class="row">

			<div class="col-sm-4 theme-holder">
			
				<a class="themes__item animate-sm-step-0" data-animate="animate-up" data-toggle="modal" data-heading="Lorem ipsum dolor site amet" 
						data-img="/img/themes/corbyn.jpg" data-content="to do">
						
					<div class="themes__item__footer">
					  <h3 class="themes__item__footer__heading">From African Marxism to neoliberalism</h3>
					  <div class="themes__item__footer__content">Mani Tanoh</div>
					</div>
				
				</a>
			</div>
			
			<div class="col-sm-4 theme-holder">
			
				<a class="themes__item animate-sm-step-0" data-animate="animate-up" data-toggle="modal" data-heading="Lorem ipsum dolor site amet" 
						data-img="/img/themes/corbyn.jpg" data-content="to do">
						
					<div class="themes__item__footer">
					  <h3 class="themes__item__footer__heading">From African Marxism to neoliberalism</h3>
					  <div class="themes__item__footer__content">Mani Tanoh</div>
					  <div class="themes__item__footer__content" style="color: #FFAB00;">Resisting the racist backlash and the rise of fascism across Europe</div>
					</div>
				
				</a>
			</div>
			
			<div class="col-sm-4 theme-holder">
			
				<a class="themes__item animate-sm-step-0" data-animate="animate-up" data-toggle="modal" data-heading="Lorem ipsum dolor site amet" 
						data-img="/img/themes/corbyn.jpg" data-content="to do">
						
					<div class="themes__item__footer">
					  <h3 class="themes__item__footer__heading">From African Marxism to neoliberalism</h3>
					  <div class="themes__item__footer__content">Mani Tanoh</div>
					</div>
				
				</a>
			</div>

		</div>

	</div>
	<!-- / .container -->
</section>
