<!-- MODAL ================================================== -->
<div id="modal_img" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_img__heading">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modal_img__heading"></h4>
      </div>

      <div class="modal-body">
        <img id="modal_img__img" class="img-responsive" alt="..." style="margin : auto;"/>
        <p id="modal_img__content"></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<div id="modal_no_img" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_no_img__heading">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modal_no_img__heading"></h4>
      </div>

      <div class="modal-body">
        <p id="modal_no_img__content"></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
