<!-- MODAL ================================================== -->
<div id="modal_portfolio" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_portfolio__heading">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modal_portfolio__heading"></h4>
      </div>
      <div class="modal-body">
        <img id="modal_portfolio__img" class="img-responsive" alt="...">
        <p id="modal_portfolio__content"></p>
      </div>
    </div>
  </div>
</div>

<div id="modal_no_img" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_no_img__heading">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modal_no_img__heading"></h4>
      </div>

      <div class="modal-body">
        <div id="modal_no_img__content"></p>
      </div>

    </div>
  </div>
</div>

<div id="modal_small_image" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_small_image__heading">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modal_small_image__heading"></h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <img id="modal_small_image__img" class="img-responsive" alt="...">
          </div>
          <div class="col-md-6">
             <p id="modal_small_image__side_content"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p id="modal_small_image__content"></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
