<!-- NAVBAR ================================================== -->
<nav class="navbar navbar-fixed-top navbar-default">
	<div class="container">

		<!-- Brand name -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_main" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#section_banner">Marxism Festival 2018</a>
		</div>

		<!-- Links -->
		<div class="collapse navbar-collapse" id="navbar_main">

			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="#section_banner">Welcome</a></li>
				<li><a href="#section_about" th:if="${content.showAbout == true}">About</a></li>
				<li><a href="#section_themes" th:if="${content.showThemes == true}">Themes</a></li>
				<li><a href="#section_speakers" th:if="${content.showSpeakers == true}">Speakers</a></li>
				<li><a href="#section_pricing" th:if="${content.showPricing == true}">Pricing</a></li>
				<li><a href="#section_booking" th:if="${content.showBooking == true}"><span id="navbar_booking">Book</span></a></li>
				<li><a href="#section_gallery" th:if="${content.showGallery == true}">Gallery</a></li>
				<li class="hidden-xs" th:if="${content.showVideo == true}"><a href="https://www.youtube.com/watch?v=MQHlKuJhF9s&autoplay=1" rel="navbar-youtube" class="swipebox" title="Promo video for Marxism Festival 2018">Video</a></li>
				<li class="visible-xs hidden-sm" th:if="${content.showVideo == true}"><a href="https://www.youtube.com/watch?v=MQHlKuJhF9s&autoplay=1" title="Promo video for Marxism Festival 2018">Video</a></li>
				<li><a href="#section_contact" th:if="${content.showContact == true}">Contact</a></li>
			</ul>

		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>
