<!-- PRICING  ================================================== -->
    <section class="section_pricing" id="section_pricing">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <h2 class="page-header text-center">
              Prices for <span>Marxism Festival</span> 2018
            </h2>

            <p class="page-subheader text-center">
              Unfortunately we have to charge for the event to cover the cost of the venues, accommodation and crèche. Marxism Festival does not make any profit on this event (in fact the opposite!)
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-sm-4">

            <div class="pricing__item animate-sm-step-0" data-animate="animate-up">
              <h3 class="pricing__item__heading">
                Full Event
              </h3>
              <div class="pricing__item__price">
                £55<small> / ticket</small>
              </div>
              <ul class="pricing__item__features">
                <li>Waged: £55.00</li>
                <li>Unwaged: £30.00</li>
                <li>HE student: £30.00</li>
                <li>Under 18/school/FE: £20.00</li>
              </ul>
              <a href="#" class="btn btn-block btn-primary">
                Purchase now
              </a>
            </div> <!-- / .pricing__item -->

          </div>
          <div class="col-sm-4">

            <div class="pricing__item animate-sm-step-1" data-animate="animate-up">
              <h3 class="pricing__item__heading">
                Flexi Ticket
              </h3>
              <div class="pricing__item__price">
                £55<small> / ticket</small>
              </div>
              <ul class="pricing__item__features">
                <li>Waged: £55.00</li>
                <li>Unwaged: £30.00</li>
                <li>HE student: £30.00</li>
                <li>Under 18/school/FE: £20.00</li>
              </ul>
              <a href="#" class="btn btn-block btn-primary">
                Purchase now
              </a>
            </div> <!-- / .pricing__item -->

          </div>
          <div class="col-sm-4">

            <div class="pricing__item animate-sm-step-2" data-animate="animate-up">
              <h3 class="pricing__item__heading">
                Day Ticket
              </h3>
              <div class="pricing__item__price">
                £55<small> / ticket</small>
              </div>
              <ul class="pricing__item__features">
                <li>Waged: £55.00</li>
                <li>Unwaged: £30.00</li>
                <li>HE student: £30.00</li>
                <li>Under 18/school/FE: £20.00</li>
              </ul>
              <a href="#" class="btn btn-block btn-primary">
                Purchase now
              </a>
            </div> <!-- / .pricing__item -->

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>