<!-- PRICING  ================================================== -->
<section class="section_pricing" id="section_pricing">
  <div class="container">
  
	<div class="row" style="padding-bottom: 40px;">
		<div class="col-md-3"></div>
		<div class="col-md-6">
		
			<h2 class="page-header text-center" style="margin-bottom: 10px;">Ticket prices</h2>
		
			<h2 class="page-subheader" style="margin-bottom: 10px; font-weight: 400; color : #808080">Book before Wednesday 28th March for a £5 discount on your booking!</h2>
		
			<div id="about_blurb">The festival is a not-for-profit event and we keep ticket prices as low as possible. But we do have to charge for entry to cover the high costs of the venues, creche, staffing and accommodation.
			</div>
		</div>
		<div class="col-md-3"></div>
	</div><!-- / .row -->

    <div class="row">
      <div class="col-sm-4">
        <div class="pricing__item animate-sm-step-0" data-animate="animate-up">
          <h3 class="pricing__item__heading">
            Full event<a href="#modal_no_img"
	    	class="ticket-help"
			data-toggle="modal"
			data-heading="Marxism Festival 2018 tickets"
			data-content="<p>Full tickets are valid for the entire event.</p>">
			<i class="ion-ios-help"></i>
		</a>
          </h3>
          <div class="pricing_from">From</div>
          <div class="pricing_from_price"><span class="pricing_pound_symbol">&pound;</span>20</div>
          <ul class="pricing__item__features">
            <li>Waged: £55.00</li>
            <li>Unwaged: £30.00</li>
            <li>HE student: £30.00</li>
            <li>Under 18/school/FE: £20.00</li>
          </ul>
          <a href="#section_booking" class="btn btn-block btn-primary btn-book-now">
            Book now
          </a>
        </div> <!-- / .pricing__item -->

      </div>

      <div class="col-sm-4">
        <div class="pricing__item animate-sm-step-1" data-animate="animate-up">
          <h3 class="pricing__item__heading">
            Day ticket	    <a href="#modal_no_img"
	    	class="ticket-help"
			data-toggle="modal"
			data-heading="Marxism Festival 2018 tickets"
			data-content="<p>Day tickets are valid for one day of the event.</p>">
			<i class="ion-ios-help"></i>
		</a>
          </h3>
          <div class="pricing_from">From</div>
          <div class="pricing_from_price"><span class="pricing_pound_symbol">&pound;</span>10</div>
          <ul class="pricing__item__features">
            <li>Waged: £20.00</li>
            <li>Unwaged: £15.00</li>
            <li>HE student: £15.00</li>
            <li>Under 18/school/FE: £10.00</li>
          </ul>
          <a href="#section_booking" class="btn btn-block btn-primary btn-book-now">
            Book now
          </a>
        </div> <!-- / .pricing__item -->

      </div>
                
      <div class="col-sm-4">
        <div class="pricing__item animate-sm-step-2" data-animate="animate-up">
          <h3 class="pricing__item__heading">
            Flexi ticket<a href="#modal_no_img"
	    	class="ticket-help"
			data-toggle="modal"
			data-heading="Marxism Festival 2018 tickets"
			data-content="<p>Flexible tickets are for five meetings across the event.</p>">
			<i class="ion-ios-help"></i>
		</a>
          </h3>
          <div class="pricing_from">From</div>
          <div class="pricing_from_price"><span class="pricing_pound_symbol">&pound;</span>10</div>
          <ul class="pricing__item__features">
            <li>Waged: £20.00</li>
            <li>Unwaged: £15.00</li>
            <li>HE student: £15.00</li>
            <li>Under 18/school/FE: £10.00</li>
          </ul>
          <a href="#section_booking" class="btn btn-block btn-primary btn-book-now">
            Book now
          </a>
        </div> <!-- / .pricing__item -->
      </div>

    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
