<!-- PRICING  ================================================== -->
<section class="section_pricing" id="section_pricing" th:if="${content.showPricing == true}">
  <div class="container">
  
	<div class="row" style="padding-bottom: 40px;">
		<div class="col-md-3"></div>
		<div class="col-md-6">
		
			<h2 class="page-header text-center" style="margin-bottom: 10px;" th:text="${content.pricingHeading}"></h2>
		
			<h2 class="page-subheader text-center booking-discount" th:if="${content.applyTicketDiscount == true}" th:text="${content.discountText}"></h2>
		
			<div id="pricing_blurb" th:text="${content.pricingText}"></div>
		</div>
		<div class="col-md-3"></div>
	</div><!-- / .row -->

    <div class="row">
      <div class="col-sm-4">
        <div class="pricing__item animate-sm-step-0" data-animate="animate-up">
          <h3 class="pricing__item__heading">
            Full event<a href="#modal_no_img"
	    	class="ticket-help"
			data-toggle="modal"
			data-heading="Marxism Festival 2018 tickets"
			data-content="<p>Full tickets are valid for the entire event.</p>">
			<i class="ion-ios-help"></i>
		</a>
          </h3>
          <div class="pricing_from">From</div>
          <div class="pricing_from_price"><span class="pricing_pound_symbol">&pound;</span><span th:text="${content.pricingFullEventFE}"></div>
          <ul class="pricing__item__features">
            <li>Waged: &pound;<span th:text="${content.pricingFullEventWaged}"></span></li>
            <li>Unwaged: &pound;<span th:text="${content.pricingFullEventUnwaged}"></span></li>
            <li>HE student: &pound;<span th:text="${content.pricingFullEventHE}"></span></li>
            <li>Under 18/school/FE: &pound;<span th:text="${content.pricingFullEventFE}"></span></li>
          </ul>
          <a href="#section_booking" class="btn btn-block btn-primary btn-book-now">
            Book now
          </a>
        </div> <!-- / .pricing__item -->

      </div>

      <div class="col-sm-4">
        <div class="pricing__item animate-sm-step-1" data-animate="animate-up">
          <h3 class="pricing__item__heading">
            Day ticket	    <a href="#modal_no_img"
	    	class="ticket-help"
			data-toggle="modal"
			data-heading="Marxism Festival 2018 tickets"
			data-content="<p>Day tickets are valid for one day of the event.</p>">
			<i class="ion-ios-help"></i>
		</a>
          </h3>
          <div class="pricing_from">From</div>
          <div class="pricing_from_price"><span class="pricing_pound_symbol">&pound;</span><span th:text="${content.pricingDayTicketFE}"></div>
          <ul class="pricing__item__features">
            <li>Waged: &pound;<span th:text="${content.pricingDayTicketWaged}"></span></li>
            <li>Unwaged: &pound;<span th:text="${content.pricingDayTicketUnwaged}"></span></li>
            <li>HE student: &pound;<span th:text="${content.pricingDayTicketHE}"></span></li>
            <li>Under 18/school/FE: &pound;<span th:text="${content.pricingDayTicketFE}"></span></li>
          </ul>
          <a href="#section_booking" class="btn btn-block btn-primary btn-book-now">
            Book now
          </a>
        </div> <!-- / .pricing__item -->

      </div>
                
      <div class="col-sm-4">
        <div class="pricing__item animate-sm-step-2" data-animate="animate-up">
          <h3 class="pricing__item__heading">
            Flexi ticket<a href="#modal_no_img"
	    	class="ticket-help"
			data-toggle="modal"
			data-heading="Marxism Festival 2018 tickets"
			data-content="<p>Flexible tickets are for five meetings across the event.</p>">
			<i class="ion-ios-help"></i>
		</a>
          </h3>
          <div class="pricing_from">From</div>
          <div class="pricing_from_price"><span class="pricing_pound_symbol">&pound;</span><span th:text="${content.pricingFlexiTicketFE}"></div>
          <ul class="pricing__item__features">
            <li>Waged: &pound;<span th:text="${content.pricingFlexiTicketWaged}"></span></li>
            <li>Unwaged: &pound;<span th:text="${content.pricingFlexiTicketUnwaged}"></span></li>
            <li>HE student: &pound;<span th:text="${content.pricingFlexiTicketHE}"></span></li>
            <li>Under 18/school/FE: &pound;<span th:text="${content.pricingFlexiTicketFE}"></span></li>
          </ul>
          <a href="#section_booking" class="btn btn-block btn-primary btn-book-now">
            Book now
          </a>
        </div> <!-- / .pricing__item -->
      </div>

    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
