<!-- SPEAKERS  ================================================== -->
<section class="section_speakers section_alt" id="section_speakers"	th:if="${content.showSpeakers == true}">

	<div class="container">

		<div class="row">
			<div class="col-xs-12">

				<h2 class="page-header text-center">Speakers include</h2>

			</div>
		</div>
		

		<div class="row" th:each="i : ${#numbers.sequence( 0, 3, 3 )}">

			<div th:replace="fragments :: speaker( ${content.speakers[i + 0]}, true )"></div>

			<div th:replace="fragments :: speaker( ${content.speakers[i + 1]}, true )"></div>

			<div th:replace="fragments :: speaker( ${content.speakers[i + 2]}, true )"></div>

		</div>


		<div class="row text-center" style="padding-bottom : 20px" th:if="${#lists.size(content.speakers) > 6}">
			<a href="javascript:showMoreSpeakers()" class="btn btn-primary" id="showMoreSpeakersAnchor">Show More Speakers</a>
		</div>
		
		<div class="row more-speakers" style="display : none;" th:each="i : ${#numbers.sequence( 6, #lists.size(content.speakers) - 3, 3 )}">

			<div th:replace="fragments :: speaker( ${content.speakers[i + 0]}, false )"></div>

			<div th:replace="fragments :: speaker( ${content.speakers[i + 1]}, false )"></div>

			<div th:replace="fragments :: speaker( ${content.speakers[i + 2]}, false )"></div>

		</div>		

	</div>
	<!-- / .container -->
</section>
