<section class="section_news" id="section_news">
  <div class="container">
  
    <div class="row">
      <div class="col-xs-12">

        <h2 class="page-header text-center">
          Conference <span>Themes</span>
        </h2>

      </div>
    </div> <!-- / .row -->
    
    <div class="row" th:each="i : ${#numbers.sequence( 1, #lists.size(content.speakers) / 3 )}">
      
      <div th:insert="fragments :: theme ( ${content.themes[i + 0]} )"></div>
      
      <div th:insert="fragments :: theme ( ${content.themes[i + 1]} )"></div>
      
      <div th:insert="fragments :: theme ( ${content.themes[i + 2]} )"></div>
      
    </div> <!-- / .row -->
            
  </div> <!-- / .container -->
</section>