
    <!-- THEMES
    ================================================== -->
    <section class="section_news" id="section_news">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <h2 class="page-header text-center">
              Conference <span>Themes</span>
            </h2>

            <p class="page-subheader text-center">
              Click on themes below to see more
            </p>

          </div>
        </div> <!-- / .row -->
        
        <div class="row">
          <div class="col-sm-4">
			<a href="#modal_portfolio" class="news__item animate-sm-step-0" data-animate="animate-up" data-toggle="modal" data-heading="Lorem ipsum dolor site amet" data-img="/img/themes/corbyn.jpg" data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque maiores quibusdam, soluta nostrum odio dolore ratione numquam nemo accusamus quos, veniam alias fugit, nulla quaerat dicta. Aut nulla rerum natus?">
              <div class="news__item__img">
                <img th:src="@{/img/themes/corbyn.jpg}" class="img-responsive" alt="...">
              </div>
              <div class="news__item__footer">
                <h3 class="news__item__footer__heading">
                  Jeremy Corbyn, the Labour Party and the fight for socialism
                </h3>
                <div class="news__item__footer__content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis aliquam omnis.
                </div>
              </div>
            </a> <!-- / .news__item -->

          </div>
          <div class="col-sm-4">

            <a href="#modal_portfolio" class="news__item animate-sm-step-0" data-animate="animate-up" data-toggle="modal" data-heading="Lorem ipsum dolor site amet" data-img="/img/themes/sutr.jpg" data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque maiores quibusdam, soluta nostrum odio dolore ratione numquam nemo accusamus quos, veniam alias fugit, nulla quaerat dicta. Aut nulla rerum natus?">
              <div class="news__item__img">
                <img th:src="@{/img/themes/sutr.jpg}" class="img-responsive" alt="...">
              </div>
              <div class="news__item__footer">
                <h3 class="news__item__footer__heading">
                  Resisting the racist backlash and the rise of fascism across Europe
                </h3>
                <div class="news__item__footer__content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis aliquam omnis.
                </div>
              </div>
            </a> <!-- / .news__item -->

          </div>
          <div class="col-sm-4">

            <a href="#modal_portfolio" class="news__item animate-sm-step-0" data-animate="animate-up" data-toggle="modal" data-heading="Lorem ipsum dolor site amet" data-img="/img/themes/marx.jpg" data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque maiores quibusdam, soluta nostrum odio dolore ratione numquam nemo accusamus quos, veniam alias fugit, nulla quaerat dicta. Aut nulla rerum natus?">
              <div class="news__item__img">
                <img th:src="@{/img/themes/marx.jpg}" class="img-responsive" alt="...">
              </div>
              <div class="news__item__footer">
                <h3 class="news__item__footer__heading">
                  #Marx200 Anniversary – was Marx right?
                </h3>
                <div class="news__item__footer__content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis aliquam omnis.
                </div>
              </div>
            </a> <!-- / .news__item -->

          </div>
        </div> <!-- / .row -->
        
        <div class="row">
          <div class="col-sm-4">
			<a href="#modal_portfolio" class="news__item animate-sm-step-0" data-animate="animate-up" data-toggle="modal" data-heading="Lorem ipsum dolor site amet" data-img="/img/themes/climate.jpg" data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque maiores quibusdam, soluta nostrum odio dolore ratione numquam nemo accusamus quos, veniam alias fugit, nulla quaerat dicta. Aut nulla rerum natus?">
              <div class="news__item__img">
                <img th:src="@{/img/themes/climate.jpg}" class="img-responsive" alt="...">
              </div>
              <div class="news__item__footer">
                <h3 class="news__item__footer__heading">
                  Capitalism and climate change
                </h3>
                <div class="news__item__footer__content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis aliquam omnis.
                </div>
              </div>
            </a> <!-- / .news__item -->

          </div>
          <div class="col-sm-4">

            <a href="#modal_portfolio" class="news__item animate-sm-step-0" data-animate="animate-up" data-toggle="modal" data-heading="Lorem ipsum dolor site amet" data-img="/img/themes/sexism-and-the-system-yussre-el-bardicy.jpg" data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque maiores quibusdam, soluta nostrum odio dolore ratione numquam nemo accusamus quos, veniam alias fugit, nulla quaerat dicta. Aut nulla rerum natus?">
              <div class="news__item__img">
                <img th:src="@{/img/themes/sexism-and-the-system-yussre-el-bardicy.jpg}" class="img-responsive" alt="...">
              </div>
              <div class="news__item__footer">
                <h3 class="news__item__footer__heading">
                  #MeToo: challenging sexism and the system 
                </h3>
                <div class="news__item__footer__content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis aliquam omnis.
                </div>
              </div>
            </a> <!-- / .news__item -->

          </div>
          <div class="col-sm-4">

            <a href="#modal_portfolio" class="news__item animate-sm-step-0" data-animate="animate-up" data-toggle="modal" data-heading="Lorem ipsum dolor site amet" data-img="/img/themes/imperialism-.jpg" data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque maiores quibusdam, soluta nostrum odio dolore ratione numquam nemo accusamus quos, veniam alias fugit, nulla quaerat dicta. Aut nulla rerum natus?">
              <div class="news__item__img">
                <img th:src="@{/img/themes/imperialism-.jpg}" class="img-responsive" alt="...">
              </div>
              <div class="news__item__footer">
                <h3 class="news__item__footer__heading">
                  War, imperialism, the Middle East and Palestine
                </h3>
                <div class="news__item__footer__content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis aliquam omnis.
                </div>
              </div>
            </a> <!-- / .news__item -->

          </div>
        </div> <!-- / .row -->
        
      </div> <!-- / .container -->
    </section>