src/main/etc/terraform/terraform.tfstate
src/main/etc/terraform/terraform.tfstate.backup
src/main/etc/terraform/terraform.tfvars
src/main/etc/terraform/.terraform/


src/main/etc/wolfram/node_modules/
src/main/etc/wolfram/dist/

target/

!.mvn/wrapper/maven-wrapper.jar
src/main/resources/application-*.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
website.json
