<div class='row'>
	<div class='col-sm-12'>
		<h1 class='text-center'>Liberate Your Mind</h1>

		<p>Where do you go when you want to buy a book? A union-busting corporation or a socialist bookshop? Bookmarks is the largest socialist bookshop in Britain.</p>

		<p>And we don&quot;t just sell from our shop in London, we go out and about to provide bookstalls at events across the country, from Tolpuddle to major demonstrations. We send books across the world
			and offer a full mailorder service for individuals and trade unions.</p>

		<p>Our range of books covers politics, economics, trade unionism, labour history, the environment, black struggle, women, culture, fiction, radical kid&quot;s books and much more. And we don&quot;t just
			sell books, we publish them too- books that answer the big questions that socialists and trade unionists are asking.</p>

		<p>The massive anti-union booksellers like Amazon can offer the sorts of discounts smaller shops cannot match. But they do this by attacking their own workers, avoiding corporation tax and
			squeezing authors and publishers. That&quot;s not how we operate. And the major booksellers cannot match the guidance and expertise that our unionised staff provide.</p>

	</div>
</div>
<!-- /.row -->

<hr />

<div class='row'>
	<div class='col-xs-3 social-container'>
		<a class='twitter social-icon' target='_blank' title='Bookmarks on the web' href='https://bookmarksbookshop.co.uk'> <i class='ion-ios-world'></i>
		</a>
	</div>
	<div class='col-xs-3 social-container'>
		<a class='twitter social-icon' target='_blank' title='Bookmarks on Twitter' href='https://twitter.com/Bookmarks_books'> <i class='ion-social-twitter'></i>
		</a>
	</div>
	<div class='col-xs-3 social-container'>
		<a class='facebook social-icon' target='_blank' title='Bookmarks on Facebook' href='https://www.facebook.com/bookmarks.bookshop/'> <i class='ion-social-facebook'></i>
		</a>
	</div>
	<div class='col-xs-3 social-container'>
		<a class='instagram social-icon' target='_blank' title='Bookmarks on Youtube' href='https://www.youtube.com/channel/UCLhxs9hxW-q1Aq3TcQH7r_Q'> <i class='ion-social-youtube-outline'></i>
		</a>
	</div>
</div>
