<div class="row">
  <div class="col-xs-12">

    <div class="about-stall-item row">
      <div class="col-sm-2 about-stall-img">
        <img class="img-responsive" src="/img/modal/stalls/lmhr.jpg"/>
      </div>
      <div class="col-sm-10 about-stall-info">
Love Music Hate Racism is a music-oriented campaign based in Britain attached to the Anti-Nazi League and Unite Against Fascism. The campaign involves concerts aimed at spreading an anti-racist message. It follows in the tradition of the 1970s Rock Against Racism campaign, which also involved the Anti-Nazi League.
        <div class="about-stall-link">
          <a href="http://www.lovemusichateracism.com/">Visit Website</a>
        </div>
      </div>
    </div>  

    <hr/>

    <div class="about-stall-item row">
      <div class="col-sm-2 about-stall-img">
        <img class="img-responsive" src="/img/modal/stalls/sutr.jpg"/>
      </div>
      <div class="col-sm-10 about-stall-info">
        A racist offensive is sweeping Europe, with governments and the right-wing media using migrants, refugees and Muslims as scapegoats for an economic crisis and wars they did not create.
        <div class="about-stall-link">
          <a href="http://www.standuptoracism.org.uk">Visit Website</a>
        </div>
      </div>
    </div>
    
    <hr/>
    
    <div class="about-stall-item row">
      <div class="col-sm-2">
        <img class="img-responsive" src="/img/modal/stalls/orgreave100x100.jpg"/>
      </div>
      <div class="col-sm-10 about-stall-info">
The Orgreave Truth and Justice Campaign includes ex-miners, Trades Unionists, activists and others who are determined to get justice for miners who were victims of police lies and cover ups at Orgreave in June 1984.
        <div class="about-stall-link">
          <a href="https://otjc.org.uk/">Visit Website</a>
        </div>
      </div>
    </div> 
    
    <hr/>
    
    <div class="about-stall-item row">
      <div class="col-sm-2 about-stall-img">
        <img class="img-responsive" src="/img/modal/stalls/psc.jpg"/>
      </div>
      <div class="col-sm-10 about-stall-info">
        The Palestine Solidarity Campaign is an activist organisation in England and Wales that promotes solidarity with the Palestinian people.
        <div class="about-stall-link">
          <a href="https://www.palestinecampaign.org/">Visit Website</a>
        </div>
      </div>
    </div> 

    <hr/>

    <div class="about-stall-item row">
      <div class="col-sm-2 about-stall-img">
        <img class="img-responsive" src="/img/modal/stalls/ccclogo100x100.jpg"/>
      </div>
      <div class="col-sm-10 about-stall-info">
        The Campaign against Climate Change brings people together to push for the urgent and resolute action we need to prevent the catastrophic destabilisation of global climate.
        <div class="about-stall-link">
          <a href="https://www.campaigncc.org/">Visit Website</a>
        </div>
      </div>
    </div>  
    
    <hr/> 

    <div class="about-stall-item row">
      <div class="col-sm-2 about-stall-img">
        <img class="img-responsive" src="/img/modal/stalls/dpac100x100.jpg"/>
      </div>
      <div class="col-sm-10 about-stall-info">
        DPAC is about disabled people and their allies. DPAC is UK based but we know that disabled people in other countries are suffering from austerity cuts and a lack of fundamental rights. We welcome all to join us in fighting for justice and human rights for all disabled people.
        <div class="about-stall-link">
          <a href="https://dpac.uk.net/">Visit Website</a>
        </div>
      </div>
    </div>  
    
    <hr/>      
    
    <div class="about-stall-item row">
      <div class="col-sm-2 about-stall-img">
        <img class="img-responsive" src="/img/modal/stalls/philosophy_football100x100.jpg"/>
      </div>
      <div class="col-sm-10 about-stall-info">
        But never ones for being too big for their boots Philosophy Football remains very much as it's always been. Hugh and Mark started it all off because they thought it would be a bit of a laugh. And while accountants, VAT inspectors, not to mention the odd lawyer have all cast their beady eyes over what they get up to, first and foremost they are still doing it because they enjoy it. Hugh designs the shirts and the whole extraordinary look of Philosophy Football. Mark writes the words, does the copy.  Jacquie packs the shirts and sends them out. Small, hands-on and near perfectly formed is the way they like it, they hope you will too.
        <div class="about-stall-link">
          <a href="https://www.philosophyfootball.com">Visit Website</a>
        </div>
      </div>
    </div>                 
    
    <hr/>
    
    <p>If you would like to book a stall for your campaign or organisation please email <a href="mailto:info@marxismfestival.org.uk">info@marxismfestival.org.uk</a>. There will be a charge for stalls.</p>

  </div>
</div><!-- /.row -->
