<div class="row">
  <div class="col-xs-12">

    <div class="about-stall-item row">
      <div class="col-md-2 about-stall-img">
        <img class="img-responsive" src="/img/modal/stalls/ccclogo100.jpg"/>
      </div>
      <div class="col-md-10 about-stall-info">
        The Campaign against Climate Change brings people together to push for the urgent and resolute action we need to prevent the catastrophic destabilisation of global climate.
      </div>
    </div>

    <hr/>

    <div class="about-stall-item row">
      <div class="col-md-2 about-stall-img">
        <img class="img-responsive" src="/img/modal/stalls/sutr.jpg"/>
      </div>
      <div class="col-md-10 about-stall-info">
        A racist offensive is sweeping Europe, with governments and the right-wing media using migrants, refugees and Muslims as scapegoats for an economic crisis and wars they did not create.
      </div>
    </div>
    
    <hr/>
    
    <div class="about-stall-item row">
      <div class="col-md-2">
        <img class="img-responsive" src="/img/modal/stalls/stw.png"/>
      </div>
      <div class="col-md-10 about-stall-info">
        The Stop the War Coalition is a British group which was established on 21 September 2001, shortly after the September 11 attacks, to campaign against what it believes are unjust wars.
      </div>
    </div> 
    
    <hr/>
    
    <div class="about-stall-item row">
      <div class="col-md-2 about-stall-img">
        <img class="img-responsive" src="/img/modal/stalls/psc.jpg"/>
      </div>
      <div class="col-md-10 about-stall-info">
        The Palestine Solidarity Campaign is an activist organisation in England and Wales that promotes solidarity with the Palestinian people.
      </div>
    </div>         
    
    
    
    <hr/>
    
    <p>If you would like to book a stall for your campaign or organisation please email <a href="mailto:info@marxismfestival.org.uk">info@marxismfestival.org.uk</a>. There will be a charge for stalls.</p>

  </div>
</div><!-- /.row -->
