<h1 class="text-center font-lindham">Marxism Festival is an annual event hosted by the Socialist Workers Party</h1>

<div class='row'>
	<div class="col-xs-12">
		<p>The Marxism Festival has been taking place for over 30 years. Our aim to provide a forum to discuss and debate left wing politics involving speakers and activists from different organisations as well as the SWP.</p>
		<p>The festival brings together thousands of activists, trade unionists, students, writers and academics from across the globe to grapple with political questions of the day and discuss a way forward in campaigns and struggles.</p>
		<p>Find your local <a href='http://socialistworker.co.uk/public/events' target='_blank'>SWP branch</a></p>
		<p>Please visit our <a href='http://swp.org.uk' target='_blank'>website</a></p>
</div>

<h3 class="text-center">Read Socialist Workers Party publications online</h3>

<div class="row">
	<div class='col-sm-3'><a href='https://socialistworker.co.uk' target='_blank'><img class='img-responsive img-cover' src='/img/modal/sw-cover.jpg'/></a></div>
	<div class='col-sm-3'><a href='http://socialistreview.org.uk/' target='_blank'><img class='img-responsive img-cover' src='/img/modal/isj-cover.jpg'/></a></div>
	<div class='col-sm-3'><a href='http://isj.org.uk/' target='_blank'><img class='img-responsive img-cover' src='/img/modal/rw-cover.jpg'/></a></div>
	<div class='col-sm-3'><a href='https://www.youtube.com/user/swptvuk' target='_blank'><img class='img-responsive img-cover' src='/img/modal/swp-tv.gif'/></a></div>
</div>

<hr/>

<div class='row'>
	<div class='col-xs-4 social-container'>
		<a class='twitter social-icon' target='_blank' title='SWP on Twitter' href='https://twitter.com/socialistworker'>
			<i class='ion-social-twitter'></i>
		</a>
	</div>
	<div class='col-xs-4 social-container'>
		<a class='facebook social-icon' target='_blank' title='SWP on Facebook' href='https://www.facebook.com/SocialistWorkerBritain/'>
		<i class='ion-social-facebook'></i>
		</a>
	</div>
	<div class='col-xs-4 social-container'>
		<a class='instagram social-icon' target='_blank' title='SWP on Youtube' href='https://www.youtube.com/user/swptvuk'>
		<i class='ion-social-youtube-outline'></i>
		</a>
	</div>
</div>
