<div class="row">
<div class="col-sm-6">
  <div class='font-lindham about-read-header'>Read Socialist Workers Party publications Online</div>
  <div class='row'><div class='col-sm-3'><img class='img-responsive img-cover' src='/img/modal/sw-cover.jpg'/></div><div class='col-sm-9 about-read'>Read the Socialist Worker paper</div></div>
  <div class='row'><div class='col-sm-3'><img class='img-responsive img-cover' src='/img/modal/isj.jpg'/></div><div class='col-sm-9 about-read'>Read the International Socialist Journal</div></div>
  <div class='row'><div class='col-sm-3'><img class='img-responsive img-cover' src='/img/modal/review.jpg'/></div><div class='col-sm-9 about-read'>Read the Socialist Review Magazine</div></div>
  
</div>

<div class="col-sm-6">
  <div class='font-lindham about-read-header'>Read Socialist Workers Party publications Online</div>
  <div class='row'><div class='col-sm-3'><img class='img-responsive img-cover' src='/img/modal/sw-cover.jpg'/></div><div class='col-sm-9 about-read'>Read the Socialist Worker paper</div></div>
  <div class='row'><div class='col-sm-3'><img class='img-responsive img-cover' src='/img/modal/isj.jpg'/></div><div class='col-sm-9 about-read'>Read the International Socialist Journal</div></div>
  <div class='row'><div class='col-sm-3'><img class='img-responsive img-cover' src='/img/modal/review.jpg'/></div><div class='col-sm-9 about-read'>Read the Socialist Review Magazine</div></div>
  <p><span style='font-size: large;'><strong><span style='text-decoration: underline;'>Bookmarks Bookshop</span></strong></span></p>
  <p>Bookmarks Bookshop will be open every day during the Marxism Festival in the Library Bar in Student Central. They will have books by speakers at the event and books that complement meetings and courses.</p>
  <p>Look for Bookmarks pop-up stalls throughout the festival and follow them on twitter for daily updates and offers: <span style='text-decoration: underline; color: #993366;'><a href='https://twitter.com/Bookmarks_books'><span style='color: #993366; text-decoration: underline;'>@bookmarks_books</span></a></span> or visit them online at <span style='text-decoration: underline; color: #993366;'><a href='https://www.bookmarksbookshop.co.uk/'><span style='color: #993366; text-decoration: underline;'>bookmarksbookshop.co.uk</span></a></span></p>
  <p><span style='font-size: large;'><strong><span style='text-decoration: underline;'>Stalls</span></strong></span></p>
  <p>If you would like to book a stall for your campaign or organisation please email <span style='text-decoration: underline; color: #993366;'><a href='mailto:info@marxismfestival.org.uk'><span style='color: #993366; text-decoration: underline;'>info@marxismfestival.org.uk</span></a> </span></p>
  <p>There will be a charge for stalls.</p>
  <p><span style='font-size: large;'><strong><span style='text-decoration: underline;'>Disabled Access</span></strong></span></p>
  <p>We make every effort to ensure that Marxism is accessible for disabled people.</p>
  <p>Student Central and the Friends Meeting House are fully accessible.</p>
  <p>The Institute of Education is currently undergoing modification. They have requested that people fill in a PEEP for any meeting located in their building.
  This form will be sent out with all tickets and will be available at the event.</p>
</div>

</div><!-- /.row -->
