<div class="row">
	<div class="col-sm-6">
	  <h2>Read Socialist Workers Party publications Online</h2>
	  
	  <div class='row'><a href="https://socialistworker.co.uk" target="_blank"><div class='col-sm-3'><img class='img-responsive img-cover' src='/img/modal/sw-cover.jpg'/></div><div class='col-sm-9 about-read'>Read the Socialist Worker paper</div></a></div>
	  <div class='row'><a href="http://socialistreview.org.uk/" target="_blank"><div class='col-sm-3'><img class='img-responsive img-cover' src='/img/modal/isj.jpg'/></div><div class='col-sm-9 about-read'>Read the International Socialist Journal</div></a></div>
	  <div class='row'><a href="http://isj.org.uk/" target="_blank"><div class='col-sm-3'><img class='img-responsive img-cover' src='/img/modal/review.jpg'/></div><div class='col-sm-9 about-read'>Read the Socialist Review Magazine</div></a></div>
	  <div class='row'><a href="http://isj.org.uk/" target="_blank"><div class='col-sm-3'><img class='img-responsive img-cover' src='/img/modal/swp-tv.gif'/></div><div class='col-sm-9 about-read'>Watch SWP videos</div></a></div>
	  
	</div>
	
	<div class="col-sm-6">
	  <p>Marxism is organised by the Socialist Workers Party (SWP).</p>
	  <p>Find your local <a href="http://socialistworker.co.uk/public/events" target="_blank">SWP branch</a></p>
	  <p>
	  <hr/>
		<div class="row">
			<div class="col-sm-4 social-container">
				<a class="twitter social-icon" target="_blank" title="SWP on Twitter" href="https://twitter.com/socialistworker"> 
					<i class="ion-social-twitter"></i>
				</a>
			</div>
			<div class="col-sm-4 social-container">
				<a class="facebook social-icon" target="_blank" title="SWP on Facebook" href="https://www.facebook.com/SocialistWorkerBritain/"> 
				<i class="ion-social-facebook"></i>
				</a>
			</div>
			<div class="col-sm-4 social-container">
				<a class="instagram social-icon" target="_blank" title="SWP on Youtube" href="https://www.youtube.com/user/swptvuk"> 
				<i class="ion-social-youtube-outline"></i>
				</a>
			</div>						
		</div>	  
	</div>

</div><!-- /.row -->


