@import url('https://fonts.googleapis.com/css?family=Oswald:400|Roboto:400,400i,700');

@font-face{font-family: 'PiSLIETZLindham';src: url('/fonts/PiSLIETZLindham.eot');src: url('/fonts/PiSLIETZLindham.eot?#iefix') format('embedded-opentype'),url('/fonts/PiSLIETZLindham.woff2') format('woff2'),url('/fonts/PiSLIETZLindham.woff') format('woff'),url('/fonts/35E6EA_0_0.ttf') format('truetype');}
/*
@font-face{font-family:'Haptik-Bold';src:url('https://www.smartbody.nl/contents/fonts/GT-Haptik-Bold-2.eot');src:url('https://www.smartbody.nl/contents/fonts/GT-Haptik-Bold-2.eot?#iefix') format('embedded-opentype'),url('https://www.smartbody.nl/contents/fonts/GT-Haptik-Bold-2.woff') format('woff'),url('https://www.smartbody.nl/contents/fonts/GT-Haptik-Bold-2.ttf') format('truetype')}
@font-face{font-family:'Haptik-Regular';src:url('https://www.smartbody.nl/contents/fonts/GT-Haptik-Regular-2.eot');src:url('https://www.smartbody.nl/contents/fonts/GT-Haptik-Regular-2.eot?#iefix') format('embedded-opentype'),url('https://www.smartbody.nl/contents/fonts/GT-Haptik-Regular-2.woff') format('woff'),url('https://www.smartbody.nl/contents/fonts/GT-Haptik-Regular-2.ttf') format('truetype')}
@font-face{font-family:'Haptik-Medium';src:url('https://www.smartbody.nl/contents/fonts/GT-Haptik-Medium-2.eot');src:url('https://www.smartbody.nl/contents/fonts/GT-Haptik-Medium-2.eot?#iefix') format('embedded-opentype'),url('https://www.smartbody.nl/contents/fonts/GT-Haptik-Medium-2.woff') format('woff'),url('https://www.smartbody.nl/contents/fonts/GT-Haptik-Medium-2.ttf') format('truetype')}
@font-face{font-family:'Haptik-Medium-Oblique';src:url('https://www.smartbody.nl/contents/fonts/GT-Haptik-Medium-Oblique-2.eot');src:url('https://www.smartbody.nl/contents/fonts/GT-Haptik-Medium-Oblique-2.eot?#iefix') format('embedded-opentype'),url('https://www.smartbody.nl/contents/fonts/GT-Haptik-Medium-Oblique-2.woff') format('woff'),url('https://www.smartbody.nl/contents/fonts/GT-Haptik-Medium-Oblique-2.ttf') format('truetype')}
@font-face{font-family:'Haptik-Bold-Oblique';src:url('https://www.smartbody.nl/contents/fonts/GT-Haptik-Bold-Oblique-2.eot');src:url('https://www.smartbody.nl/contents/fonts/GT-Haptik-Bold-Oblique-2.eot?#iefix') format('embedded-opentype'),url('https://www.smartbody.nl/contents/fonts/GT-Haptik-Bold-Oblique-2.woff') format('woff'),url('https://www.smartbody.nl/contents/fonts/GT-Haptik-Bold-Oblique-2.ttf') format('truetype')}
*/

/* Core */

/* remove border around navbar */
.navbar-nav a:active, .navbar-nav a:focus, a.navbar-brand:active, a.navbar-brand:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none
}

a.read-more {
    text-decoration: none !important;
    border-bottom: 0.0625rem solid #dcdcdc;
    -webkit-transition: border-color .15s ease-out;
    transition: border-color .15s ease-out;
    font-family: 'PiSLIETZLindham', 'Arial', 'sans-serif';
    cursor: pointer;
}

a.read-more:hover {
    border-bottom: solid 0.0625rem #FFAB00;
}

h2, h3, .page-header, div.speaker_short_description, div.pricing_from_price, div.pricing_from, .font-lindham, .video-title, #modal_img__heading, #modal_no_img__heading {
  font-family: 'PiSLIETZLindham', 'Arial', 'sans-serif';
  text-transform: none;
}

/* Social */

.social-icon {
  font-size: 2.5em;
  /*color : #cb0a0a;*/
  color : black;
}
div.social-container {
  text-align: center;
}

.team__item__footer__content {
  height : 110px;
}

div.features__item__body {
  text-align: left;
  padding-left: 30px;
}
/* Pricing */
span.pricing_pound_symbol {
    font-size: 0.9em;
}
div.pricing_from_price {
  font-size: 60px;
  line-height: 1;
  color: #FFAB00;
}
div.pricing_from {
  color: #FFAB00;
  font-size : 30px;
  line-height: 1;
}
.section_pricing .pricing__item {
  text-align: left;
}

/* Speakers */
.section_team .team__item {
    color: #777;
}

.section_team .team__item, .section_team .team__item:active, .section_team .team__item:focus {
    text-decoration: none;
    box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.14);
}

/* Booking form */
h2#booking_header {
  color : black;
  font-size: 1.6em;
}
div#booking_form_container {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
}
a.edit-booking {
	text-decoration: underline;
	text-transform: none;
	font-size: 0.9em;
}

span.help-block {
  margin-left: 20px;
}

/* Navbar */
span#navbar_booking {
	background-color: #FFAB00;
	color : black;
	padding : 5px;
	border-radius: 5px;
}

/* Modal */
#modal_img__img {
   margin-bottom: 25px;
}

/* About */
div#about_blurb {
  text-align : left;
}

div.about-read-more {
	font-size-adjust: 70%;
	font-family: 'PiS LIETZ Lindham'
}

img.img-cover {
  margin : 5px;
  border:1px solid #021a40;
}

div.about-read {
  padding : 5px;
}

div.about-read-header {
  font-size: 15px;
}


/* Gallery */
#section_gallery a:hover, #section_gallery a:active {
	text-decoration: none;
	border : none;
}

div.gallery-icon {
	font-size : 8em;
}

/* Contact */
.section_contact:before {
  background: url(../img/carousel/egypt-1024x768.jpg) no-repeat center center / cover;
}

/* Error */

i.warning_icon {
  display : none;
  color: red;
  font-size: 15px;
}

.field-error, .field-error:focus {
  border-color: red !important;
}

.error-block {
  color: red;
}

/****************
/** MEDIA QUERIES
/****************

/* Large desktops and laptops */
@media (min-width: 1200px) {
  div#booking_form_container {
    padding-bottom: 540px;
  }
  section#section_booking {
    padding-top: 30px;
  }
  /* Themes */
  .news__item__footer {
      height: 400px;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  div#booking_form_container {
    padding-bottom: 520px;
  }
  section#section_booking {
    padding-top: 30px;
  }
  /* Themes */
  .news__item__footer {
      height: 450px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  div#booking_form_container {
  	padding-bottom: 540px;
  }
  h2#booking_header {
  	font-size: 18px;
  }
  section#section_booking {
  	padding-top: 30px;
  }
  .video-title {
		font-size : 0.9em;
  }
  /* Themes */
  .news__item__footer {
      height: 620px;
  }
}


/* Landscape phones and portrait tablets */
@media (min-width: 481px) and (max-width: 767px) {
  div#booking_form_container {
    position: static;
    overflow: visible;
  }
  div#booking_form_container legend {
  	display : none;
  }
  h2#booking_header {
    font-size: 1em;
  }
  section#section_booking {
  	padding-bottom: 30px;
  	padding-top: 30px;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  /*
  .h0 {
  font-size: 24px;
  padding-bottom: 140px;
  padding-top: 50px;
  }
  */
  h2#booking_header {
    font-size: 1em;
  }
  section#section_booking {
  	padding-bottom: 30px;
  	padding-top: 30px;
  }
  div#booking_form_container {
    position: static;
    overflow: visible;
    height : 100%;
  }
  div#booking_form_container legend {
  	display : none;
  }
  div#about_blurb {
    /* padding-left: 30px; */
  }
  div.booking_radio_buttons {
    padding-left: 10px;
  }

  button#showPreviousButton, button#showNextButton {
  	font-size : 0.8em;
  }
}
