<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>404 - Page not found</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'></link>
  <link href="https://www.kualo.co.uk/theme/style.css" rel="stylesheet" type="text/css" ></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type='text/javascript' src='https://www.kualo.co.uk/theme/js/jquery-ui.min.js'></script>
  <script type='text/javascript' src='https://www.kualo.co.uk/theme/js/jquery-migrate.min.js'></script>
 <script type='text/javascript' src='https://www.kualo.co.uk/theme/js/modernizr.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <style>
  body {
    padding-top: 30px;
    height: 100%;
    background: #282828;
    background: url(/img/404/bg_outerspace.jpg);
    background-size: cover;
  }

canvas { margin: 0 auto 0 auto!important; width: 1200px }

.modal-backdrop {
   background-color: #4F030B;
   opacity: 0.9!important;
}

.center{text-align:center}
#space-invaders {
  margin: 0 auto;
  display: block;
}


.modal {
  text-align: center;
}

@media  screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.wrap{margin: 25px;}

#fade {
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding:0;
    margin:0;
    border:0;
    position:absolute;
    overflow:hidden;
    left:0px;
    top:0px;
    display:block;
}
.cont{
    margin:10% auto 0 auto;
    width:300px;
    height:300px;
    background-color: #FFF;
    -moz-box-shadow: 0 0 100px 1px #444;
    -webkit-box-shadow: 0 0 100px 1px #444;
    font-size:20px;
}


  </style>
</head>

<body>

<div class="container-wide micro-padding-bottom">
	<div class="row">
	    <div class="col-sm-2">
	        <a href="/"><img class="img-responsive" src="//cdn.kualo.com/website/kualo-logo-reverse.png" /></a>
	    </div>
	    <div class="textalignright col-sm-10">
	        <h1 class="textalignright white-text">404 - Page Not Found</h1>
	    <p class="textalignright">Use <span class="label label-danger">Space</span> to shoot and <span class="label label-danger">←</span>&#160;<span class="label label-danger">→</span> to move!&#160;&#160;&#160;<button class="btn btn-default btn-xs" id="restart">Restart</button></p>
	    </div>
	</div>

	<div style="padding-botto:5px">
	    <div class="col-sm-12">
			<h2 style="color: #c2ff66; font-size: 40px" class="center">Oh no! Space Invaders destroyed this page! Take revenge on them!</h2>
			<h3 class="text-aligncenter white-text">
				<a href="javascript:void()" style="font-weight: normal; text-decoration: none; border-bottom: 1px dotted #fff" onclick="window.history.back();">(Or click to go back to where you were...)</a>
			</h3>
		</div>
	</div>
</div>

<div id="gameFinished" class="modal fade" role="dialog">
  <div class="modal-dialog textaligncenter">
        <h1 class="textaligncenter white-text" style="font-size: 100px">You Lost!</h1>
        <h3 class="small-padding-bottom white-text textaligncenter" id="totalpoints"></h2>
        <h2 class="white-text textaligncenter" id="message">Get over 1000 points to win a coupon for our hosting!</h2>
        <p class="textaligncenter">
<button type="button" id="modalrestart" class="button-main button-large aligncenter textaligncenter" style="display: inline-block; margin-top: 30px" data-dismiss="modal">Try Again</button>
<a class="button-main button-large aligncenter textaligncenter" href="/" style="display: inline-block; margin-top: 30px">See Our Hosting</a>
</p>

  </div>
</div>

<div id="lifelost" style="overflow: none; width: 100%; height: 100%; position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 10000; background-color: rgba(255,0,0,0.5); display: none"></div>
<div id="levelup" style="overflow: none; width: 100%; height: 100%; padding-top: 20%; padding-bottom: 20%; position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 10000; background-color: rgba(0,200,0,0.8); display: none">
<h1 style="font-size: 100px" class="textaligncenter white-text">Good Job</h1>
<h2 class="textaligncenter white-text">You've earned an extra life. Get ready for the next level...</h2>
</div>

<canvas id="space-invaders"/>

<script type="text/javascript">
;(function() {
  "use strict";

  // General
  var canvas,
    screen,
    gameSize,
    game;

  // Assets
  var invaderCanvas,
    invaderMultiplier,
    invaderSize = 25,
    initialOffsetInvader,
    invaderAttackRate,
    invaderSpeed,
    invaderSpawnDelay = 250,
    colideexecuted = 0;

  // Counter
  var i = 0,
    kills = 0,
    lives = 3,
    spawnDelayCounter = invaderSpawnDelay;

  var invaderDownTimer;

  // Text
  var blocks = [    
    [2, 4, 8, 9, 10, 15, 16],
    [2, 4, 7, 11, 14, 16],
    [1, 4, 7, 11, 13, 16],
    [1, 2, 3, 4, 5, 7, 11, 13, 14, 15, 16, 17],
    [4, 7, 11, 16],
    [4, 8, 9, 10, 16]
  ];





  // Game Controller
  // ---------------
  var Game = function() {

    this.level = -1;
    this.lost = false;

    this.player = new Player();
    this.invaders = [];
    this.invaderShots = [];

    if (invaderDownTimer === undefined) {
      invaderDownTimer = setInterval(function() {
        for (i = 0; i < game.invaders.length; i++) game.invaders[i].move();
      }, 1000 - (this.level * 1.8));

    };
  }

  Game.prototype = {
    update: function() {

      // Next level
      if (game.invaders.length === 0) {

        if (this.level != -1) {
            $("#levelup").fadeIn(70);
        }


        spawnDelayCounter += 1;
        if (spawnDelayCounter < invaderSpawnDelay) return;

        if (this.level != -1) {
            $("#levelup").fadeOut(10);
            lives += 1;
        }


        this.level += 1;

        invaderAttackRate -= 0.001;
        invaderSpeed += 8;



        game.invaders = createInvaders();

        spawnDelayCounter = 0;
      }

      if (!this.lost) {

        // Collision
        game.player.projectile.forEach(function(projectile) {
          game.invaders.forEach(function(invader) {
            if (collides(projectile, invader)) {
              invader.destroy();
              projectile.active = false;
            }
          });
        });

        this.invaderShots.forEach(function(invaderShots) {
          if (collides(invaderShots, game.player)) {
            game.invaderShots.active = false; 
            if (colideexecuted != 1) {
            game.player.destroy();
            }
          }
        });

        for (i = 0; i < game.invaders.length; i++) game.invaders[i].update();

      }

      // Don't stop player & projectiles.. they look nice
      game.player.update();
      for (i = 0; i < game.invaderShots.length; i++) game.invaderShots[i].update();

      this.invaders = game.invaders.filter(function(invader) {
        return invader.active;
      });

    },

    draw: function() {

      if (this.lost) {

    if (!$('#gameFinished').hasClass('in')) {
        $("#gameFinished").modal();

        if (kills > 999) {
            var coupon = atob("SU5WQURFUlM=");
            $("#message").html("But what a score!<br /><br />Use coupon " + coupon  +  "  during checkout and get 15% off any new shared hosting plan!");
            $("#totalpoints").html(kills + " Invaders Destroyed!");
        } else {
            $("#message").html("Score over 1000 to win a discount on our hosting!");
            $("#totalpoints").html(kills + " Invaders Destroyed!");
        }

    }


      } else {
        screen.clearRect(0, 0, gameSize.width, gameSize.height);

        screen.font = "20px Oswald";
        screen.textAlign = "right";
        screen.fillText("Points: " + kills, gameSize.width - 50, gameSize.height - 12);
        screen.fillText("Lives: " + lives, gameSize.width - 50, gameSize.height - 44);
        screen.fillText("Level: " + game.level, gameSize.width - 50, gameSize.height - 76);
      }

      screen.beginPath();

      var i;
      this.player.draw();
      if (!this.lost)
        screen.fillStyle = "#90C9F4";
        screen.fillStyle = "white";

        for (i = 0; i < this.invaders.length; i++) this.invaders[i].draw();



      for (i = 0; i < this.invaderShots.length; i++) this.invaderShots[i].draw();

      screen.fill();

    },

    invadersBelow: function(invader) {
      return this.invaders.filter(function(b) {
        return Math.abs(invader.coordinates.x - b.coordinates.x) === 0 &&
          b.coordinates.y > invader.coordinates.y;
      }).length > 0;
    }

  };

  // Invaders
  // --------
  var Invader = function(coordinates) {
    this.active = true;
    this.coordinates = coordinates;
    this.size = {
      width: invaderSize,
      height: invaderSize
    };

    this.patrolX = 0;
    this.speedX = invaderSpeed;

  };

  Invader.prototype = {
    update: function() {

      if (Math.random() > invaderAttackRate && !game.invadersBelow(this)) {
        var projectile = new Projectile({
          x: this.coordinates.x + this.size.width / 2,
          y: this.coordinates.y + this.size.height - 5
        }, {
          x: 0,
          y: 2
        });
        game.invaderShots.push(projectile);
      }

    },
    draw: function() {
      if (this.active) screen.drawImage(invaderCanvas, this.coordinates.x, this.coordinates.y);

    },
    move: function() {



      if (this.patrolX < 0 || this.patrolX > 100) {

        this.speedX = -this.speedX;
        this.patrolX += this.speedX;
        this.coordinates.y += this.size.height;

        if (this.coordinates.y + this.size.height * 2 > gameSize.height) game.lost = true;

      } else {
        this.coordinates.x += this.speedX;
        this.patrolX += this.speedX;
      }

    },
    destroy: function() {
      this.active = false;
      kills += 1;

    }

  };

  // Player
  // ------
  var Player = function() {
    this.active = true;
    this.size = {
      width: 16,
      height: 8
    };
    this.shooterHeat = -3;
        screen.fillStyle = "#90C9F4";

    this.coordinates = {
      x: gameSize.width / 2 - (this.size.width / 2) | 0,
      y: gameSize.height - this.size.height * 2
    };

    this.projectile = [];
    this.keyboarder = new KeyController();
  };

  Player.prototype = {
    update: function() {

      for (var i = 0; i < this.projectile.length; i++) this.projectile[i].update();

      this.projectile = this.projectile.filter(function(projectile) {
        return projectile.active;
      });

      if (!this.active) return;

      if (this.keyboarder.isDown(this.keyboarder.KEYS.LEFT) && this.coordinates.x > 0) this.coordinates.x -= 2;
      else if (this.keyboarder.isDown(this.keyboarder.KEYS.RIGHT) && this.coordinates.x < gameSize.width - this.size.width) this.coordinates.x += 2;

      if (this.keyboarder.isDown(this.keyboarder.KEYS.Space)) {
        this.shooterHeat += 1;
        if (this.shooterHeat < 0) {
          var projectile = new Projectile({
            x: this.coordinates.x + this.size.width / 2 - 1,
            y: this.coordinates.y - 1
          }, {
            x: 0,
            y: -7
          });
          this.projectile.push(projectile);
        } else if (this.shooterHeat > 12) this.shooterHeat = -3;
      } else {
        this.shooterHeat = -3;
      }

    },
    draw: function() {
      if (this.active) {
        screen.rect(this.coordinates.x, this.coordinates.y, this.size.width, this.size.height);
        screen.rect(this.coordinates.x - 2, this.coordinates.y + 2, 20, 6);
        screen.rect(this.coordinates.x + 6, this.coordinates.y - 4, 4, 4);
      }

      for (var i = 0; i < this.projectile.length; i++) this.projectile[i].draw();

    },
    destroy: function() {
          if (lives > 0 && colideexecuted == 0) {

          $("#lifelost").fadeIn(70).fadeOut(70).fadeIn(70).fadeOut(200);

          colideexecuted = 1;
          this.active = false;
          
                  setTimeout(function(){ 
                    game.player.active = true;
                    game.player.draw();
                    colideexecuted = 0;
                    lives -= 1;
                    }, 500);

          } else {
          this.active = false;
          game.lost = true;
          }
    }
  };

  // Projectile
  // ------
  var Projectile = function(coordinates, velocity) {
    this.active = true;
    this.coordinates = coordinates;
    this.size = {
      width: 3,
      height: 3
    };
    this.velocity = velocity;
  };

  Projectile.prototype = {
    update: function() {
      this.coordinates.x += this.velocity.x;
      this.coordinates.y += this.velocity.y;

      if (this.coordinates.y > gameSize.height || this.coordinates.y < 0) this.active = false;

    },
    draw: function() {
      if (this.active) screen.rect(this.coordinates.x, this.coordinates.y, this.size.width, this.size.height);

    }
  };

  // Keyboard input tracking
  // -----------------------
  var KeyController = function() {
    this.KEYS = {
      LEFT: 37,
      RIGHT: 39,
      Space: 32
    };
    var keyCode = [37, 39, 32];
    var keyState = {};

    var counter;
    window.addEventListener('keydown', function(e) {
      for (counter = 0; counter < keyCode.length; counter++)
        if (keyCode[counter] == e.keyCode) {
          keyState[e.keyCode] = true;
          e.preventDefault();
        }

    });

    window.addEventListener('keyup', function(e) {
      for (counter = 0; counter < keyCode.length; counter++)
        if (keyCode[counter] == e.keyCode) {
          keyState[e.keyCode] = false;
          e.preventDefault();
        }
    });

    this.isDown = function(keyCode) {
      return keyState[keyCode] === true;
    };

  };

  // Other functions
  // ---------------
  function collides(a, b) {
    return a.coordinates.x < b.coordinates.x + b.size.width &&
      a.coordinates.x + a.size.width > b.coordinates.x &&
      a.coordinates.y < b.coordinates.y + b.size.height &&
      a.coordinates.y + a.size.height > b.coordinates.y;
  }

  function getPixelRow(rowRaw) {
    var textRow = [],
      placer = 0,
      row = Math.floor(rowRaw / invaderMultiplier);
    if (row >= blocks.length) return [];
    for (var i = 0; i < blocks[row].length; i++) {
      var tmpContent = blocks[row][i] * invaderMultiplier;
      for (var j = 0; j < invaderMultiplier; j++) textRow[placer + j] = tmpContent + j;
      placer += invaderMultiplier;
    }
    return textRow;
  }

  // Write Text
  // -----------
  function createInvaders() {
    var invaders = [];

    var i = blocks.length * invaderMultiplier;
    while (i--) {
      var j = getPixelRow(i);
      for (var k = 0; k < j.length; k++) {
        invaders.push(new Invader({
          x: j[k] * invaderSize,
          y: i * invaderSize
        }));
      }
    }
    return invaders;
  }

  // Start game
  // ----------
  window.addEventListener('load', function() {

    var invaderAsset = new Image;
    invaderAsset.onload = function() {

      invaderCanvas = document.createElement('canvas');
      invaderCanvas.width = invaderSize;
      invaderCanvas.height = invaderSize;
      invaderCanvas.getContext("2d").drawImage(invaderAsset, 0, 0);

      // Game Creation
      canvas = document.getElementById("space-invaders");
      screen = canvas.getContext('2d');

      initGameStart();
      loop();

    };
    invaderAsset.src = "//cdn.kualo.com/website/invader.gif";

  });

  window.addEventListener('resize', function() {
    initGameStart();
  });
  document.getElementById('restart').addEventListener('click', function() {
    initGameStart();
  });
  document.getElementById('modalrestart').addEventListener('click', function() {
    initGameStart();
  });
  document.getElementById('gameFinished').addEventListener('click', function() {
    initGameStart();
  });

  function initGameStart() {
    if (window.innerWidth > 1100) {
      screen.canvas.width = 1200; 
      screen.canvas.height = 480;
      gameSize = {
        width: 1200,
        height: 480
      };
      invaderMultiplier = 2;
      initialOffsetInvader = 500;
    } else if (window.innerWidth > 800) {
      screen.canvas.width = 900;
      screen.canvas.height = 600;
      gameSize = {
        width: 900,
        height: 600
      };
      invaderMultiplier = 1;
      initialOffsetInvader = 280;
    } else {
      screen.canvas.width = 600;
      screen.canvas.height = 300;
      gameSize = {
        width: 600,
        height: 300
      };
      invaderMultiplier = 1;
      initialOffsetInvader = 140;
    }

    kills = 0;
    lives = 3;
    invaderAttackRate = 0.999;
    invaderSpeed = 1;
    spawnDelayCounter = invaderSpawnDelay;
    
    game = new Game();
  }

  function loop() {
    game.update();
    game.draw();

    requestAnimationFrame(loop);
  }



})();


</script>

<script type="text/javascript">

$( document ).ready(function() {
});

</script>



</body>
</html>
