<html>
	<body onload="document.forms[0].submit()">
		<form id="paymentForm" th:attr="action=${content.paymentUrl}" method="post" accept-charset="utf-8">
		    <input name="IGNORE_SOURCE" value="MARXISM" type="hidden">
		    <input id="barclays_id" name="ORDERID" th:value="${orderId}" type="hidden">
		    <input id="barclays_amount" name="AMOUNT" th:value="${amount}" type="hidden">    
		    <input id="barclays_name" name="CN" th:value="${booking.fullname}" type="hidden">
		    <input id="barclays_email" name="EMAIL" th:value="${booking.email}" type="hidden">
		    <input name="ACCEPTURL" th:attr="value=${content.websiteUrl + '/thankYou'}" type="hidden">
		    <input name="CANCELURL" th:attr="value=${content.websiteUrl + '/thankYou'}" type="hidden">
		    <input name="DECLINEURL" th:attr="value=${content.websiteUrl + '/thankYou'}" type="hidden">
		</form>
	</body>
</html>