<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/ico/favicon.ico">

    <title>Marxism 2018</title>

    <!-- CSS Plugins -->
    <link rel="stylesheet" th:href="@{/plugins/ionicons/css/ionicons.min.css}">

    <!-- CSS Global -->
    <link rel="stylesheet" th:href="@{/css/theme.css}">

  </head>
  <body class="no-settings" data-spy="scroll" data-target="#navbar_main" data-offset="80">

    <!-- PRELOADER
    ================================================== -->
    <div class="preloader">
      <img th:src="@{/img/spinner.svg}" alt="Loading..." class="preloader__spinner">
    </div>

    <!-- MODAL
    ================================================== -->
    <div class="modal fade" id="modal_portfolio" tabindex="-1" role="dialog" aria-labelledby="modal_portfolio__heading">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modal_portfolio__heading"></h4>
          </div>
          <div class="modal-body">
            <img id="modal_portfolio__img" class="img-responsive" th:src="@{/img/1.jpg}" alt="...">
            <p id="modal_portfolio__content"></p>
          </div>
        </div>
      </div>
    </div>

    <!-- NAVBAR
    ================================================== -->
    <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container">

        <!-- Brand name -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_main" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Marxism 2018</a>
        </div>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbar_main">

          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <a href="#section_banner">Welcome</a>
            </li>
            <li><a href="#section_features">Features</a></li>
            <li><a href="#section_portfolio">Gallery</a></li>
            <li><a href="#section_pricing">Pricing</a></li>
            <li><a href="#section_team">Speakers</a></li>
            <li><a href="#section_about">About</a></li>
            <li><a href="#section_testimonials">Testimonials</a></li>
            <li><a href="#section_news">Themes</a></li>
            <li><a href="#section_contact">Contact</a></li>
          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

    


    <!-- BOOKINGS
    ================================================== -->
    <section class="section_testimonials section_alt" id="section_testimonials">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <h2 class="page-header text-center">
             Book your ticket here
            </h2>
            
            <h3>Book before Wednesday 28th March for a £5 discount on your booking..!</h3>

            <div>
            <form th:action="@{/book}" th:object="${booking}" method="post" class="form-horizontal" role="form">
            
            <fieldset>            
                <legend>Your Details</legend>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="bkFirstName">First Name:</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{firstname}" class="form-control" value="" placeholder="First Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="bkLastName">Last Name:</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{lastname}"  class="form-control" value="" placeholder="Last Name">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for=bkSchool>Your school or college:</label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{college}" class="form-control" value="" placeholder="Your school or college">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="bkUnion">Your union:</label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{tradeUnion}" class="form-control" value="" placeholder="Your union">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="bkSWPBranch">Your SWP branch:</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{swpBranch}"  class="form-control" value="" placeholder="Your SWP branch. If you are not an SWP member, leave blank.">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="bkOtherMembership">Other membership:</label>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{otherMembership}" class="form-control" value="" placeholder="Other membership. If you are a member of another organisation, enter its name: if not, leave blank">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="bkHearAbout">How did you hear about Marxism?</label>
                    <div class="col-sm-9">
                        <select th:field="*{hearAbout}" class="form-control">
<option value="" selected="selected">Please select one</option>
<option value="BeenBefore">I have been to Marxism before</option>
<option value="Browsing"> Online browsing</option>
<option value="SocialNetwork">Social networking sites (e.g. Facebook, Twitter)</option>
<option value="FriendFamily">Heard about it from friend or family</option>
<option value="PublicMeeting">Heard about it at a public meeting</option>
<option value="Demo">Heard about it at a picket, demo, protest etc.</option>
<option value="SWPMeeting">Heard about it at an SWP Meeting</option>
<option value="Leaflet">Was given a leaflet</option>
<option value="Poster">Saw a poster</option>
<option value="Other">Other</option>
</select>
                    </div>
                </div>

                <legend>Contact Details</legend>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="bkAdd1">Address Line 1:</label>
                    <div class="col-sm-9">
                        <input type="text" id="bkAdd1"  name="bkAdd1" class="form-control" value="" placeholder="Address Line 1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="bkAdd2">Address Line 2:</label>
                    <div class="col-sm-9">
                        <input type="text" id="bkAdd2"  name="bkAdd2" class="form-control" value="" placeholder="Address Line 2">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="bkTown">Town or City:</label>
                    <div class="col-sm-9">
                        <input type="text" id="bkTown"  name="bkTown" class="form-control" value="" placeholder="Town or City">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="bkCounty">County</label>
                    <div class="col-sm-9">
                        <input type="text" id="bkCounty"  name="bkCounty" class="form-control" value="" placeholder="County">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="bkPostcode">Postcode:</label>
                    <div class="col-sm-3">
                        <input type="text" id="bkPostcode"  name="bkPostcode" class="form-control" value="" placeholder="Postcode">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="bkCountry">Country</label>
                    <div class="col-sm-9">
                        <input type="text" id="bkCountry"  name="bkCountry" class="form-control" value="United Kingdom" placeholder="Country">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="bkPhone">Phone:</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{telephone}" class="form-control" value="" placeholder="Phone">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="bkEmail">Email:</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{email}" class="form-control" value="" placeholder="Email">
                    </div>
                </div>

                <legend>Accommodation</legend>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Do you want free accommodation?</label>
                    <div class="controls controls-row offset2">
                        <label class="radio-inline">
                            <input type="radio" name="bkAccomRequired" id="bkAccomRequired2" value="No"  checked="checked"  >
                            No
                        </label>
                        <label class="radio-inline ">
                            <input type="radio" name="bkAccomRequired" id="bkAccomRequired3" value="Yes"  >
                            Yes
                        </label>
                        <span class="help-block">This will usually mean sleeping on a floor or sofa<br/> (see the Practicalities page for more on accommodation).</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="bkAccomNeeds">Accommodation needs:</label>
                    <div class="col-sm-9">
                        <textarea  class="form-control" name="bkAccomNeeds" rows="3"></textarea>
                        <span class="help-block">If you want accommodation, do you have any specific requirements - for example, do you have any access needs or an allergy?</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="bkAccomFriend">Is there anyone you want to stay with?</label>
                    <div class="col-sm-9">
                        <input type="text" id="bkAccomFriend"  name="bkAccomFriend" class="form-control" value="" >
                        <span class="help-block">If you want accommodation, is there someone else coming to Marxism you want to stay with? If so, enter their name.</span>
                    </div>
                </div>

                <legend>Childcare</legend>
                We provide a creche for children under 11 years old. How many children will need childcare?

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="bkChildcareUnder18months">Children under 18 months:</label>
                    <div class="col-sm-2">
                        <input type="text" id="bkChildcareUnder18months" class="form-control"  name="bkChildcareUnder18months"  value="0" >
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="bkChildcareTo5Years">Children 18 months to 5 years:</label>
                    <div class="col-sm-2">
                        <input type="text" id="bkChildcareTo5Years" class="form-control"  name="bkChildcareTo5Years" value="0" >
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="bkChildcare5to12Years">Children 5 to 11 years:</label>
                    <div class="col-sm-2">
                        <input type="text" id="bkChildcare5to12Years" class="form-control"  name="bkChildcare5to12Years" value="0" >
                    </div>
                </div>

                <legend>Ticket Type:</legend>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="bkTicketTypeFullEvent">Full Event:</label>
                    <div class="col-sm-9">
                        <select th:field="*{ticket.id}" class="form-control">
<option value="1" selected="selected">Please choose which ticket you want</option>
<option value="2">Waged, £55</option>
<option value="3">Waged + After party, £60</option>
<option value="4">Unwaged, £30</option>
<option value="5">Unwaged + After party £35</option>
<option value="6">HE Student, £30</option>
<option value="7">HE Student + After party £35</option>
<option value="8">-18 or FE, £20</option>
<option value="9">-18 or FE + After party £25</option>
</select>
                    </div>

                    <br/>
                    <br/>

                
                    <input type="hidden" value="" name="bkTicketTypeFlexible"/>
                    <div style="display:none;" >    
                        <label class="col-sm-3 control-label" for="bkTicketTypeFlexible">Flexible Ticket:</label>
                        <div class="col-sm-9">
                            <select name="bkTicketTypeFlexible" id="bkTicketTypeFlexible" class="form-control">
<option value="" selected="selected">Please choose which ticket you want</option>
<option value="Flexible_Waged">Waged, £20</option>
<option value="Flexible_Unwaged">Unwaged, £15</option>
<option value="Flexible_HE">HE Student, £15</option>
</select>
                             <p class="help-block">Flexible Ticket are for five meetings across the event.</p>
                        </div> 
                    </div>

                    <br/>
                    <br/>
                   
                    
                    <input type="hidden" value="" name="bkTicketTypeDay"/>
                    <div style="display:none;" >
                        <label class="col-sm-3 control-label" for="bkTicketType">Day Tickets:</label>
                        
                        <div class="col-sm-9">
                            <select name="bkTicketTypeDay" id="bkTicketTypeDayTickets" class="form-control">
<option value="" selected="selected">Please choose which ticket you want</option>
<option value="Waged">Waged, £20</option>
<option value="UnWagedHE">Unwaged / HE Student, £15</option>
<option value="ChildSchoolFE">Under 18 / School / FE Student, £10</option>
</select>
                        </div>
                    
                        <div id="FullDays" style="display:none; height: 50px;">
                            <br/>
                            <br/>
                            <label class="col-sm-3 control-label">Days:</label>
                            <div class="col-sm-9"> 
                                <span id="helpBlock" class="help-block">Please select the number of tickets you require for each day.</span>

                                <div class="row">
                                    <label class="col-sm-3 control-label">Thursday:</label>
                                    <select name="bkDayTicketThursday" id="bkDayTicketThursday" class="form-control day-ticket-qty numeric-int">
<option value="0">-- None --</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
</select>
                                                                        
                                    
                                </div>
                                <div class="row">
                                    <label class="control-label col-sm-3">Friday:</label>
                                    <select name="bkDayTicketFriday" id="bkDayTicketFriday" class="form-control day-ticket-qty numeric-int">
<option value="0">-- None --</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
</select>
                                    
                                </div>
                                <div class="row">
                                    <label class="control-label col-sm-3">Saturday:</label>
                                    <select name="bkDayTicketSaturday" id="bkDayTicketSaturday" class="form-control day-ticket-qty numeric-int">
<option value="0">-- None --</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
</select>
                                    
                                </div>
                                <div class="row">
                                    <label class="control-label col-sm-3">Sunday:</label>
                                    <select name="bkDayTicketSunday" id="bkDayTicketSunday" class="form-control day-ticket-qty numeric-int">
<option value="0">-- None --</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
</select>
                                    
                                </div>
                                
                            </div>
                        </div>                        
                    </div> 
            
                                                      
                </div>
              
                                
                <legend>Data Protection:</legend>

                <div class="controls controls-row offset2">
                    <label class="checkbox">
                        <input type="checkbox" name="bkDPA" value="OK"  >
                        Okay to send you information on future events, including Marxism 2019?
                    </label>
                </div>

                <br/>
                <br/>

                <div class="form-actions">
                    <button type="submit" class="btn btn-marxism">Confirm Booking Details <i class="icon-forward icon-white"></i></button>
                </div>


            </fieldset>
        </form>
           
            
            </div>

          </div>
    
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    

    <!-- FOOTER
    ================================================== -->
    <footer class="section_footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-9">

            <p class="footer__copyright">
              <span id="footer__year">2017</span> &copy; Wolfram theme by <a href="http://simpleqode.com/" target="_blank">Simpleqode.com</a> | Purchase via <a href="https://wrapbootstrap.com/theme/wolfram-multipurpose-one-page-template-WB0915821" target="_blank">Wrapbootstrap.com</a>
            </p>

          </div>
          <div class="col-sm-3">

            <ul class="footer__social">
              <li>
                <a class="twitter" href="#">
                  <i class="ion-social-twitter"></i>
                </a>
              </li>
              <li>
                <a class="facebook" href="#">
                  <i class="ion-social-facebook"></i>
                </a>
              </li>
              <li>
                <a class="pinterest" href="#">
                  <i class="ion-social-pinterest"></i>
                </a>
              </li>
            </ul>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </footer>

    <!-- JAVASCRIPT
    ================================================== -->

    <!-- JS Global -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <!-- JS Plugins -->
    <script th:src="@{/plugins/smoothscroll/smoothscroll.min.js}"></script>
    <script th:src="@{/plugins/backstretch/jquery.backstretch.js}"></script>
    <script th:src="@{/plugins/countTo/jquery.countTo.js}"></script>
    <script th:src="@{/plugins/contact-form/contact.js}"></script>
    <script th:src="@{/plugins/waypoints/jquery.waypoints.min.js}"></script>

    <!-- JS Custom -->
    <script th:src="@{/js/theme.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
    
 <script>
                $(function() {

                   showDays();
                   showSessionTickets();
                   
                    $('#bkTicketTypeDayTickets').change(function() {   
                        $('.numeric-int').val('0');
                        showDays();
                        $('#bkTicketTypeFullEvent').val('');
                        $('#bkTicketTypeFlexible').val('');                        
                        
                        showSessionTickets();
                    });

                    $('#bkTicketTypeFullEvent').change(function() {                        
                        $('#bkTicketTypeDayTickets').val('');
                        $('#bkTicketTypeFlexible').val('');  
                        $('#FullDays').hide();
                        $('#SessionTickets').hide();
                        showSessionTickets();
                    });

                    $('#bkTicketTypeFlexible').change(function() {                        
                        $('#bkTicketTypeDayTickets').val('');
                        $('#bkTicketTypeFullEvent').val('');  
                        $('#FullDays').hide();
                        $('#SessionTickets').hide();
                        showSessionTickets();
                    });
                    
                    
                    $( ".session_check" ).change(function() {
                      $('#bkTicketTypeFullEvent').val('');
                      $('#bkTicketTypeDayTickets').val('');
                      $('#bkTicketTypeFlexible').val('');  
                      $('#FullDays').hide();
                    });
                    
                    $( ".DayTicket" ).change(function() {
                        var myClass = this.classList;   
//                        alert(myClass[1]);
                            $('.checkbox.' + myClass[1] ).hide();
                    });
                    

                });
                function showDays() {
                    if ($('#bkTicketTypeDayTickets').val()) {
                        $('#FullDays').show();
                    } else {
                        $('#FullDays').hide();
                    }
                }
                
                function showSessionTickets(){
                    if ($('#bkTicketTypeDayTickets').val() =='' && $('#bkTicketTypeFlexible').val() =='' && $('#bkTicketTypeFullEvent').val() =='' ) {
                            $('#SessionTickets').show();
                        }else{
                            $('#SessionTickets').hide();
                        }
                }
            </script>                

  </body>

<!-- Mirrored from simpleqode.com/preview/wolfram/3.0.1/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 12 Jan 2018 19:26:14 GMT -->
</html>
