<div th:fragment="speaker( speaker, fastLoad )" class="col-sm-4 speaker-holder">

	<a th:if="${speaker.longDescription != null}" class="speakers__item animate-sm-step-0" 
		href="#modal_no_img"
		data-animate="animate-up" 
		data-toggle="modal" 
		data-ga="speakerReadMore"
		th:attr="data-content=${speaker.longDescription},data-heading=${speaker.name},data-img=@{/img/speakers/{imageUrl}(imageUrl=${speaker.imageUrl})}">

		<div class="speakers__item animate-sm-step-2" data-animate="animate-up">
			
			<div class="speakers__item__img" th:if="${fastLoad == true}">
				<img th:attr="src=@{/img/speakers/{imageUrl}(imageUrl=${speaker.imageUrl})},alt=${speaker.name}" class="img-responsive" />
			</div>
			<div class="speakers__item__img" th:if="${fastLoad == false}">
				<img th:attr="img-src=@{/img/speakers/{imageUrl}(imageUrl=${speaker.imageUrl})},alt=${speaker.name},src=@{/img/speakers/placeholder.png}" class="img-responsive load-img" />
			</div>			
			
			<div class="speakers__item__footer">
				<h3 class="speakers__item__footer__heading" style="color : black;" th:text="${speaker.name}" />
				<div class="speakers__item__footer__content" th:utext="${speaker.shortDescription}"/><span class="read-more">Read more</span>
			</div>
			
		</div>

	</a>
	
	<div th:if="${speaker.longDescription == null}" class="speakers__item animate-sm-step-2" data-animate="animate-up">
		
		<div class="speakers__item__img" th:if="${fastLoad == true}">
			<img th:attr="src=@{/img/speakers/{imageUrl}(imageUrl=${speaker.imageUrl})},alt=${speaker.name}" class="img-responsive" />
		</div>
		<div class="speakers__item__img" th:if="${fastLoad == false}">
			<img th:attr="img-src=@{/img/speakers/{imageUrl}(imageUrl=${speaker.imageUrl})},alt=${speaker.name},src=@{/img/speakers/placeholder.png}" class="img-responsive load-img" />
		</div>	
		
		<div class="speakers__item__footer">
			<h3 class="speakers__item__footer__heading" style="color : black;" th:text="${speaker.name}" />
			<div class="speakers__item__footer__content" th:utext="${speaker.shortDescription}"/>
		</div>
		
	</div>	
	
</div>
<!-- / .speakers__item -->

<div th:fragment="theme( theme )" class="col-sm-4 theme-holder">

	<a class="themes__item animate-sm-step-0" 
		href="#modal_no_img"
		data-animate="animate-up" 
		data-toggle="modal" 
		data-ga="themeReadMore"
		th:attr="data-content=${theme.readMore},data-heading=${theme.name}">
		
		<div class="themes__item__img">
		  <img th:attr="src=@{/img/themes/{imageUrl}(imageUrl=${theme.imageUrl})},alt=${theme.name}" class="img-responsive" />
		</div>
		
		<div class="themes__item__footer">
		  <h3 class="themes__item__footer__heading" th:utext="${theme.shortDescription}"/>
		  <div class="themes__item__footer__content" th:utext="${theme.longDescription}"/><span class="read-more">Read more</span>
		</div>
	
	</a>
</div>


