<div th:fragment="about ( about )" class="about__item animate-sm-step-0" data-animate="animate-up">
		<div class="about__item__icon">
			<ion-icon th:attr="name=${about.icon}"></ion-icon>
		</div>
		
		<h3 class="about__item__heading" th:text="${about.name}">Name</h3>
		
		<div class="about__item__body">
			<span th:utext="${about.text}"></span>
			<a href="#modal_no_img"
				th:if="${about.modalText != null}"
				class="news__item read-more"
				data-toggle="modal"
				data-ga="disabled"
				th:attr="data-content=${about.modalText},data-heading=${about.name}">Read more</a>
		</div>
		 
</div>

<div th:fragment="speaker( speaker, fastLoad )" class="col-sm-4 speaker-holder">

	<a th:if="${speaker.longDescription != null}" class="speakers__item" 
		href="#modal_no_img"
		data-toggle="modal" 
		data-ga="speakerReadMore"
		th:attr="data-content=${speaker.longDescription},data-heading=${speaker.name},data-img=@{/marxismImages/speaker/{id}(id=${speaker.id + '.jpg'})}">

		<div class="speakers__item" data-animate="animate-up">
			
			<div class="speakers__item__img" th:if="${fastLoad == true}">
				<img th:attr="src=@{/marxismImages/speaker/{id}(id=${speaker.id + '.jpg'})},alt=${speaker.name}" class="img-responsive" />
			</div>
			<div class="speakers__item__img" th:if="${fastLoad == false}">
				<img th:attr="img-src=@{/marxismImages/speaker/{id}(id=${speaker.id + '.jpg'})},alt=${speaker.name},src=@{/img/speakers/placeholder.png}" class="img-responsive load-img" />
			</div>			
			
			<div class="speakers__item__footer">
				<h3 class="speakers__item__footer__heading" style="color : black;" th:text="${speaker.name}" />
				<div class="speakers__item__footer__content" th:utext="${speaker.shortDescription}"/><span class="read-more">Read more</span>
			</div>
			
		</div>

	</a>
	
	<div th:if="${speaker.longDescription == null}" class="speakers__item" data-animate="animate-up">
		
		<div class="speakers__item__img" th:if="${fastLoad == true}">
			<img th:attr="src=@{/marxismImages/speaker/{id}(id=${speaker.id + '.jpg'})},alt=${speaker.name}" class="img-responsive" />
		</div>
		<div class="speakers__item__img" th:if="${fastLoad == false}">
			<img th:attr="img-src=@{/marxismImages/speaker/{id}(id=${speaker.id + '.jpg'})},alt=${speaker.name},src=@{/img/speakers/placeholder.png}" class="img-responsive load-img" />
		</div>	
		
		<div class="speakers__item__footer">
			<h3 class="speakers__item__footer__heading" style="color : black;" th:text="${speaker.name}" />
			<div class="speakers__item__footer__content" th:utext="${speaker.shortDescription}"/>
		</div>
		
	</div>	
	
</div>
<!-- / .speakers__item -->

<div th:fragment="theme( theme )" class="col-sm-4 theme-holder">

	<a class="themes__item" 
		href="#modal_no_img"
		data-animate="animate-up" 
		data-toggle="modal" 
		data-ga="themeReadMore"
		th:attr="data-content=${theme.readMore},data-heading=${theme.name}">
		
		<div class="themes__item__img">
		  <img th:attr="src=@{/marxismImages/theme/{id}(id=${theme.id + '.jpg'})},alt=${theme.name}" class="img-responsive" />
		</div>
		
		<div class="themes__item__footer">
		  <h3 class="themes__item__footer__heading" th:utext="${theme.shortDescription}"/>
		  <div class="themes__item__footer__content" th:utext="${theme.longDescription}"/><span class="read-more">Read more</span>
		</div>
	
	</a>
</div>

<div th:fragment="cultureItem( cultureItem )" class="col-sm-4 theme-holder">

	<a class="cultureitems__item" 
		data-toggle="modal" 
		data-animate="animate-up"
		data-ga="themeReadMore"
		th:attr="data-content=${cultureItem.readMore},data-heading=${cultureItem.name}"
		th:if="${cultureItem.videoUrl == null}">
		
		<div class="cultureitems__item__img">
		  <img th:attr="src=@{/marxismImages/cultureItem/{id}(id=${cultureItem.id + '.jpg'})},alt=${cultureItem.name}" class="img-responsive" />
		</div>
		
		<div class="cultureitems__item__footer">
		  <h3 class="cultureitems__item__footer__heading" th:utext="${cultureItem.shortDescription}"/>
		  <div class="cultureitems__item__footer__content" th:utext="${cultureItem.longDescription}"/>
		</div>
	</a>
	
	<a class="cultureitems__item swipebox_culture" 
		th:href="${cultureItem.videoUrl}" 
		th:attr="title=${cultureItem.shortDescription},rel=${cultureItem.name}"
		th:if="${cultureItem.videoUrl != null}">
		
		<div data-animate="animate-up">
			<div class="cultureitems__item__img">
			  <img th:attr="src=@{/marxismImages/cultureItem/{id}(id=${cultureItem.id + '.jpg'})},alt=${cultureItem.name}" class="img-responsive" />
			</div>
			
			<div class="cultureitems__item__footer">
			  <h3 class="cultureitems__item__footer__heading" th:utext="${cultureItem.shortDescription}"/>
			  <div class="cultureitems__item__footer__content" th:utext="${cultureItem.longDescription}"/>
			  <span class="read-more">Watch Video</span>
			</div>
		</div>
		
	</a>	
</div>


