<div class="col-sm-4" th:fragment="speaker( speaker )" >

	<a href="#modal_img" class="team__item animate-sm-step-0" data-animate="animate-up" data-toggle="modal" data-heading="Lorem ipsum dolor site amet" data-img="/img/themes/corbyn.jpg" data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque maiores quibusdam, soluta nostrum odio dolore ratione numquam nemo accusamus quos, veniam alias fugit, nulla quaerat dicta. Aut nulla rerum natus?">

		<div class="team__item animate-sm-step-2" data-animate="animate-up">
			
			<div class="team__item__img">
				<img th:attr="src=@{/img/speakers/{imageUrl}(imageUrl=${speaker.imageUrl})}" class="img-responsive" alt="...">
			</div>
			
			<div class="team__item__footer">
				<h3 class="team__item__footer__heading" style="color : black; margin-bottom : 0px;" th:text="${speaker.name}" />
				
				<div class="speaker_short_description" style="color: #FFAB00; font-size: 19px;line-height: 1.42857143;margin-bottom: 10px;" th:text="${speaker.shortDescription}"/>
				
				<div class="team__item__footer__content" th:text="${speaker.longDescription}"/>
			</div>
			
		</div>

	</a>
</div>
<!-- / .speaker__item -->

<div th:fragment="theme( theme )" class="col-sm-4 theme-holder">

	<a class="themes__item animate-sm-step-0" data-animate="animate-up" data-toggle="modal" data-heading="Lorem ipsum dolor site amet" data-img="/img/themes/corbyn.jpg" data-content="to do">
		
		<div class="themes__item__img">
		  <img th:attr="src=@{/img/themes/{imageUrl}(imageUrl=${theme.imageUrl})}" class="img-responsive" alt="...">
		</div>
		
		<div class="themes__item__footer">
		  <h3 class="themes__item__footer__heading" th:utext="${theme.shortDescription}"/>
		  <div class="themes__item__footer__content" th:utext="${theme.longDescription}"/>
		</div>
	
	</a>
</div>


