<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>Marxism Festival 2018</title>

    <!-- CSS Plugins -->
    <link rel="stylesheet" th:href="@{/plugins/swipebox/src/css/swipebox.css}">
    <link rel="stylesheet" th:href="@{/plugins/ionicons/css/ionicons.min.css}">

    <!-- CSS Global -->
    <link rel="stylesheet" th:href="@{/css/theme.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115019473-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-115019473-1');
	</script>
    

  </head>
  <body data-spy="scroll" data-target="#navbar_main" data-offset="80">

    <!-- PRELOADER
    ================================================== -->
    <div class="preloader">
      <img th:src="@{/img/spinner.svg}" alt="Loading..." class="preloader__spinner">
    </div>

    <div th:replace="layouts/modal"></div>

    <div th:replace="layouts/navbar"></div>

    <div th:replace="layouts/carousel"></div>

    <div th:replace="layouts/about"></div>

    <div th:replace="layouts/themes"></div>

    <div th:replace="layouts/pricing"></div>

    <div th:replace="layouts/gallery"></div>

    <div th:replace="layouts/contact"></div>

    <div th:replace="layouts/book"></div>

    <div th:replace="layouts/footer"></div>


  <!-- JAVASCRIPT
  ================================================== -->

  <!-- JS Global -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- JS Plugins -->
  <!--
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
  <script th:src="@{/plugins/swipebox/src/js/jquery.swipebox.js}"></script>
  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.4/js/jquery.swipebox.min.js"></script>

  <script th:src="@{/plugins/waypoints/jquery.waypoints.min.js}"></script>
  <script th:src="@{/plugins/backstretch/jquery.backstretch.js}"></script>

  <!-- JS Custom -->
  <script th:src="@{/js/custom.js}"></script>
  <script th:src="@{/js/theme.js}"></script>

  </body>
</html>
