<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/ico/favicon.ico">

    <title>Marxism 2018</title>

    <!-- CSS Plugins -->
    <link rel="stylesheet"th:href="@{/plugins/swipebox/src/css/swipebox.css}">
    <link rel="stylesheet" th:href="@{/plugins/ionicons/css/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/prettyPhoto/css/prettyPhoto.css}" type="text/css" media="screen" charset="utf-8" />

    <!-- CSS Global -->
    <link rel="stylesheet" th:href="@{/css/theme.css}">
    


  </head>
  <body class="no-settings" data-spy="scroll" data-target="#navbar_main" data-offset="80">

    <!-- PRELOADER
    ================================================== -->
    <div class="preloader">
      <img th:src="@{/img/spinner.svg}" alt="Loading..." class="preloader__spinner">
    </div>

    <!-- MODAL
    ================================================== -->
    <div class="modal fade" id="modal_portfolio" tabindex="-1" role="dialog" aria-labelledby="modal_portfolio__heading">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modal_portfolio__heading"></h4>
          </div>
          <div class="modal-body">
            <img id="modal_portfolio__img" class="img-responsive" th:src="@{/img/1.jpg}" alt="...">
            <p id="modal_portfolio__content"></p>
          </div>
        </div>
      </div>
    </div>

    <!-- NAVBAR
    ================================================== -->
    <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container">

        <!-- Brand name -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_main" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Marxism 2018</a>
        </div>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbar_main">

          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <a href="#section_banner">Welcome</a>
            </li>
            <li><a href="#section_features">Features</a></li>
            <li><a href="#section_portfolio">Gallery</a></li>
            <li><a href="#section_pricing">Pricing</a></li>
            <li><a href="#section_team">Speakers</a></li>
            <li><a href="#section_about">About</a></li>
            <li><a href="#section_booking">Book</a></li>
            <li><a href="#section_news">Themes</a></li>
            <li><a href="#section_contact">Contact</a></li>
          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

    <!-- BANNER
    ================================================== -->
    <section class="section_banner" id="section_banner">

      <!-- Images -->
      <div class="banner__carousel__img"
           data-images="/img/revolution.jpg, /img/sword.jpg, /img/pokemon.jpg">
      </div>

      <!-- Carousel -->
      <div id="banner__carousel" class="banner__carousel carousel" data-ride="carousel">

        <!-- Slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">

            <div class="container">
              <div class="row">
                <div class="col-sm-12">

                  <h1 class="h0 page-header text-white text-center animate-down animate-xs-step-0">
                    Welcome to <span>Marxism 2018</span>
                  </h1>               
                  <div class="text-center">
                    <a href="#section_features" class="btn btn-primary animate-down animate-xs-step-2">
                      Find out more
                    </a>
                  </div>

                </div>
              </div> <!-- / .row -->
            </div> <!-- / .container -->

          </div>
          <div class="item">

            <div class="container">
              <div class="row">
                <div class="col-xs-12">

                  <h1 class="h0 page-header text-white text-center animate-down animate-xs-step-0">
                    A Festival of <span>Socialist Ideas</span>
                  </h1>
                  <div class="text-center">
                    <a href="#section_features" class="btn btn-primary animate-down animate-xs-step-2">
                      Find out more
                    </a>
                  </div>

                </div>
              </div> <!-- / .row -->
            </div> <!-- / .container -->

          </div>          
          <div class="item">

            <div class="container">
              <div class="row">
                <div class="col-xs-12">

                  <h1 class="h0 page-header text-white text-center animate-down animate-xs-step-0">
                    5 - 8 July, Central London, Four Days of Meetings
                  </h1>
                  <div class="text-center">
                    <a href="#section_features" class="btn btn-primary animate-down animate-xs-step-2">
                      Find out more
                    </a>
                  </div>

                </div>
              </div> <!-- / .row -->
            </div> <!-- / .container -->

          </div>
          <div class="item">

            <div class="container">
              <div class="row">
                <div class="col-xs-12">

                  <h1 class="h0 page-header text-white text-center animate-down animate-xs-step-0">
                    A Festival of <span>Socialist Ideas</span>
                  </h1> 
                  <div class="text-center">
                    <a href="#section_features" class="btn btn-primary animate-down animate-xs-step-2">
                      Find out more
                    </a>
                  </div>

                </div>
              </div> <!-- / .row -->
            </div> <!-- / .container -->

          </div>
 		  <div class="item">

            <div class="container">
              <div class="row">
                <div class="col-xs-12">

                  <h1 class="h0 page-header text-white text-center animate-down animate-xs-step-0">
                    A Festival of <span>Socialist Ideas</span>
                  </h1> 
                  <div class="text-center">
                    <a href="#section_features" class="btn btn-primary animate-down animate-xs-step-2">
                      Find out more
                    </a>
                  </div>

                </div>
              </div> <!-- / .row -->
            </div> <!-- / .container -->

          </div>          
        </div>

        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#banner__carousel" data-slide-to="0" class="active"></li>
          <li data-target="#banner__carousel" data-slide-to="1"></li>
          <li data-target="#banner__carousel" data-slide-to="2"></li>
          <li data-target="#banner__carousel" data-slide-to="3"></li>
          <li data-target="#banner__carousel" data-slide-to="4"></li>
        </ol>

        <!-- Controls -->
        <a class="left carousel-control" href="#banner__carousel" role="button" data-slide="prev">
          <span class="ion-android-arrow-back" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#banner__carousel" role="button" data-slide="next">
          <span class="ion-android-arrow-forward" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div> <!-- / .carousel -->

    </section>

    <!-- FEATURES
    ================================================== -->
    <section class="section_features" id="section_features">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <h2 class="page-header text-center">
              <span>Marxism 2017</span> involved thousands of activists from across the globe discussing how we can change the world.
            </h2>

            <p class="page-subheader text-center">
              Activists debated how we can build on the support for Corbyn's socialist policies, and how we can launch a fightback against racism, austerity and war.

            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-sm-4">

            <div class="features__item animate-sm-step-0" data-animate="animate-up">
              <div class="features__item__icon">
                <i class="ion-android-laptop"></i>
              </div>
              <h3 class="features__item__heading">
                Videos
              </h3>
              <div class="features__item__body">
                You can see videos of some of the debates that took place at Marxism 2017
              </div>
            </div>

          </div>
          <div class="col-sm-4">

            <div class="features__item animate-sm-step-1" data-animate="animate-up">
              <div class="features__item__icon">
                <i class="ion-android-options"></i>
              </div>
              <h3 class="features__item__heading">
                Justice for Grenfell
              </h3>
              <div class="features__item__body">
                The event kicked off with activists from Justice for Grenfell, Momentum and striking cleaners addrsssing our opening rally (video here).
              </div>
            </div>

          </div>
          <div class="col-sm-4">

            <div class="features__item animate-sm-step-2" data-animate="animate-up">
              <div class="features__item__icon">
                <i class="ion-android-color-palette"></i>
              </div>
              <h3 class="features__item__heading">
               Closing Rally
              </h3>
              <div class="features__item__body">
                Other highlights included Moazzam Begg, ex-Guantanamo Bay detainee, addressing the closing rally on the fight against Islamophobia (video here).
              </div>
            </div>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-sm-4">

            <div class="features__item animate-sm-step-0" data-animate="animate-up">
              <div class="features__item__icon">
                <i class="ion-android-checkmark-circle"></i>
              </div>
              <h3 class="features__item__heading">
                Join Us This Year
              </h3>
              <div class="features__item__body">
                Marxism Festival takes place every year in central London and involves debate, spoken word, cultural events and more. The dates for Marxism 2018 are 5 to 8 July.
              </div>
            </div>

          </div>
          <div class="col-sm-4">

            <div class="features__item animate-sm-step-1" data-animate="animate-up">
              <div class="features__item__icon">
                <i class="ion-android-send"></i>
              </div>
              <h3 class="features__item__heading">
                Contact form
              </h3>
              <div class="features__item__body">
                Contact us for more information
              </div>
            </div>

          </div>
          <div class="col-sm-4">

            <div class="features__item animate-sm-step-2" data-animate="animate-up">
              <div class="features__item__icon">
                <i class="ion-android-mail"></i>
              </div>
              <h3 class="features__item__heading">
                Free support by email
              </h3>
              <div class="features__item__body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius officiis temporibus dolor tempore blanditiis nulla amet atque repellendus fuga maxime.
              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- Gallery
    ================================================== -->
    <section class="section_portfolio" id="section_portfolio">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <h2 class="page-header text-center sr-only">
              Click on the image below to see photos of <span>Marxism conferences</span> from previous years
            </h2>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 col-lg-4">

            <div class="portfolio__item">
              <div class="portfolio__item__img">
                <img th:src="@{/img/1.jpg}" class="img-responsive" alt="...">
                <div class="portfolio__item__img__mask">
                  <h3 class="text-center">
                    Lorem ipsum dolor site amet
                  </h3>
                  <div class="text-center">
                    <a href="javascript:openGallery('pp_default')" class="btn btn-primary" role="button">
                      Open preview
                    </a>
                  </div>
                </div> <!-- / .portfolio__item__img__mask -->
              </div> <!-- / .portfolio__item__img -->
            </div> <!-- / .portfolio__item -->

          </div>
          <div class="col-sm-6 col-lg-4">

            <div class="portfolio__item">
              <div class="portfolio__item__img">
                <img th:src="@{/img/2.jpg}" class="img-responsive" alt="...">
                <div class="portfolio__item__img__mask">
                  <h3 class="text-center">
                    Lorem ipsum dolor site amet
                  </h3>
                  <div class="text-center">
                    <a href="javascript:openGalleryPicnic('facebook')" class="btn btn-primary" role="button">
                      Open preview
                    </a>
                  </div>
                </div> <!-- / .portfolio__item__img__mask -->
              </div> <!-- / .portfolio__item__img -->
            </div> <!-- / .portfolio__item -->

          </div>
          <div class="col-sm-6 col-lg-4">

            <div class="portfolio__item">
              <div class="portfolio__item__img">
                <img th:src="@{/img/3.jpg}" class="img-responsive" alt="...">
                <div class="portfolio__item__img__mask">
                  <h3 class="text-center">
                    Lorem ipsum dolor site amet
                  </h3>
                  <div class="text-center">
                    <a href="javascript:openGallery('dark_square')" class="btn btn-primary" role="button">
                      Open dark square
                    </a>
                  </div>
                </div> <!-- / .portfolio__item__img__mask -->
              </div> <!-- / .portfolio__item__img -->
            </div> <!-- / .portfolio__item -->

          </div>
          <div class="col-sm-6 col-lg-4">

            <div class="portfolio__item">
              <div class="portfolio__item__img">
                <img th:src="@{/img/4.jpg}" class="img-responsive" alt="...">
                <div class="portfolio__item__img__mask">
                  <h3 class="text-center">
                    Lorem ipsum dolor site amet
                  </h3>
                  <div class="text-center">
                    <a href="https://www.youtube.com/watch?v=6h02msZ_vYk&autoplay=1" class="btn btn-primary swipebox" title="">
                      Open video
                    </a>
                  </div>
                </div> <!-- / .portfolio__item__img__mask -->
              </div> <!-- / .portfolio__item__img -->
            </div> <!-- / .portfolio__item -->

          </div>
          <div class="col-sm-6 col-lg-4">

            <div class="portfolio__item">
              <div class="portfolio__item__img">
                <img th:src="@{/img/5.jpg}" class="img-responsive" alt="...">
                <div class="portfolio__item__img__mask">
                  <h3 class="text-center">
                    Lorem ipsum dolor site amet
                  </h3>
                  <div class="text-center">
                    <button type="button" id="swipeBoxButton" class="btn btn-primary" role="button">
                      swipeBoxButton
                    </button>
                  </div>
                </div> <!-- / .portfolio__item__img__mask -->
              </div> <!-- / .portfolio__item__img -->
            </div> <!-- / .portfolio__item -->

          </div>
          <div class="col-sm-6 col-lg-4">

            <div class="portfolio__item">
              <div class="portfolio__item__img">
                <img th:src="@{/img/7.jpg}" class="img-responsive" alt="...">
                <div class="portfolio__item__img__mask">
                  <h3 class="text-center">
                    Lorem ipsum dolor site amet
                  </h3>
                  <div class="text-center">
                    <a href="javascript:openGallery('light_rounded')" class="btn btn-primary" role="button">
                      Open light rounded
                    </a>
                  </div>
                </div> <!-- / .portfolio__item__img__mask -->
              </div> <!-- / .portfolio__item__img -->
            </div> <!-- / .portfolio__item -->

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container-fluid -->
    </section>

    <!-- PRICING
    ================================================== -->
    <section class="section_pricing" id="section_pricing">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <h2 class="page-header text-center">
              Prices for <span>Marxism Festival</span> 2018
            </h2>

            <p class="page-subheader text-center">
              Unfortunately we have to charge for the event to cover the cost of the venues, accommodation and crèche. Marxism Festival does not make any profit on this event (in fact the opposite!)
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-sm-4">

            <div class="pricing__item animate-sm-step-0" data-animate="animate-up">
              <h3 class="pricing__item__heading">
                Full Event
              </h3>
              <div class="pricing__item__price">
                £55<small> / ticket</small>
              </div>
              <ul class="pricing__item__features">
                <li>Waged: £55.00</li>
                <li>Unwaged: £30.00</li>
                <li>HE student: £30.00</li>
                <li>Under 18/school/FE: £20.00</li>
              </ul>
              <a href="#" class="btn btn-block btn-primary">
                Purchase now
              </a>
            </div> <!-- / .pricing__item -->

          </div>
          <div class="col-sm-4">

            <div class="pricing__item animate-sm-step-1" data-animate="animate-up">
              <h3 class="pricing__item__heading">
                Flexi Ticket
              </h3>
              <div class="pricing__item__price">
                £55<small> / ticket</small>
              </div>
              <ul class="pricing__item__features">
                <li>Waged: £55.00</li>
                <li>Unwaged: £30.00</li>
                <li>HE student: £30.00</li>
                <li>Under 18/school/FE: £20.00</li>
              </ul>
              <a href="#" class="btn btn-block btn-primary">
                Purchase now
              </a>
            </div> <!-- / .pricing__item -->

          </div>
          <div class="col-sm-4">

            <div class="pricing__item animate-sm-step-2" data-animate="animate-up">
              <h3 class="pricing__item__heading">
                Day Ticket
              </h3>
              <div class="pricing__item__price">
                £55<small> / ticket</small>
              </div>
              <ul class="pricing__item__features">
                <li>Waged: £55.00</li>
                <li>Unwaged: £30.00</li>
                <li>HE student: £30.00</li>
                <li>Under 18/school/FE: £20.00</li>
              </ul>
              <a href="#" class="btn btn-block btn-primary">
                Purchase now
              </a>
            </div> <!-- / .pricing__item -->

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- SPEAKERS
    ================================================== -->
    <section class="section_team section_alt" id="section_team">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <h2 class="page-header text-center">
              Speakers at the <span>Marxism Festival</span> Festival
            </h2>

            <p class="page-subheader text-center">
              blah blah
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-sm-4">

            <div class="team__item animate-sm-step-0" data-animate="animate-up">
              <div class="team__item__img">
                <img th:src="@{/img/speakers/pat-mills-2000AD-640.jpg}" class="img-responsive" alt="...">
              </div>
              <div class="team__item__footer">
                <h3 class="team__item__footer__heading">
                  Pat Mills <small>/ 2000AD Creator</small>
                </h3>
                <div class="team__item__footer__content">
                  Pat Mills is the creator of 2000AD. He will be speaking on the politics of 2000AD with Sacha Simic
                </div>
              </div>
            </div> <!-- / .team__item -->

          </div>
          <div class="col-sm-4">

            <div class="team__item animate-sm-step-1" data-animate="animate-up">
              <div class="team__item__img">
                <img th:src="@{/img/speakers/maz-saleem-640.jpg}" class="img-responsive" alt="...">
              </div>
              <div class="team__item__footer">
                <h3 class="team__item__footer__heading">
                  Maz Saleem <small>/ Anti-Racism Campaigner</small>
                </h3>
                <div class="team__item__footer__content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis aliquam omnis.
                </div>
              </div>
            </div> <!-- / .team__item -->

          </div>
          <div class="col-sm-4">

            <div class="team__item animate-sm-step-2" data-animate="animate-up">
              <div class="team__item__img">
                 <img th:src="@{/img/speakers/sheila-coleman-640.jpg}" class="img-responsive" alt="...">
              </div>
              <div class="team__item__footer">
                <h3 class="team__item__footer__heading">
                  Sheila Coleman <small>/ Hillsborough Campaigner</small>
                </h3>
                <div class="team__item__footer__content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis aliquam omnis.
                </div>
              </div>
            </div> <!-- / .team__item -->

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

   <!-- ABOUT
    ================================================== -->
    <section class="section_about" id="section_about">
      <div class="container">
        <div class="row row_centered">
          <div class="col-sm-6 col-sm-push-6">

            <h2 class="page-header">
             About Us
            </h2>

            <p>
             Marxism 2018 is a four day political festival of socialist ideas hosted by the <span>Socialist Workers Party</span>.
            </p>
            <p>
              If you were excited by Jeremy Corbyn's election as Labour leader, horrified by Donald Trump, want to challenge racism and oppression, desire action over climate change or are looking for an alternative to austerity and war then <span>Marxism Festival<span></span> 2018 is the place for you.
            </p>

          </div>
          <div class="col-sm-6 col-sm-pull-6">

            <div class="about__img">
              <img th:src="@{/img/about/1_max.jpg}" class="img-responsive" alt="..." style="padding:1px;border:1px solid #021a40;">
            </div>

          </div>
        </div> <!-- / .row -->
        <div class="row row_centered">
          <div class="col-sm-6">

            <h2 class="page-header">
              Marxism is organised by the <span>Socialist Workers Party (SWP)</span>
            </h2>

            
			<ul class="list-wf">
				<li>You can find out more at the <span style="text-decoration: underline;"><span style="color: #993366; text-decoration: underline;"><a href="http://www.swp.org.uk/" target="_blank"><span style="color: #993366; text-decoration: underline;">SWP website</span></a></span></span></li>
				<li><span style="text-decoration: underline; color: #993366;"><a href="http://www.socialistworker.co.uk" target="_blank"><span style="color: #993366; text-decoration: underline;">Socialist Worker newspaper</span></a></span></li>
				<li><span style="text-decoration: underline;"><span style="color: #993366; text-decoration: underline;"><a title="FB" href="https://www.facebook.com/SocialistWorkerBritain/" target="_blank"><span style="color: #993366; text-decoration: underline;">Facebook page</span></a></span></span></li>
				<li><span style="text-decoration: underline;"><span style="color: #993366; text-decoration: underline;"><a href="https://twitter.com/SWP_Britain?ref_src=twsrc%5Etfw&amp;ref_url=http%3A%2F%2Fwww.swp.org.uk%2F" target="_blank"><span style="color: #993366; text-decoration: underline;">Twitter feed</span></a></span></span></li>
				<li>Find your local <span style="text-decoration: underline;"><span style="color: #993366; text-decoration: underline;"><a href="http://socialistworker.co.uk/public/events" target="_blank"><span style="color: #993366; text-decoration: underline;">SWP branch</span></a></span></span></li>
			</ul>
            
            

          </div>
          <div class="col-sm-6">

            <div class="about__img">
              <img th:src="@{/img/about/2_max.jpg}" class="img-responsive" alt="..." style="padding:1px;border:1px solid #021a40;">
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- TESTIMONIALS
    ================================================== -->
    <section class="section_testimonials section_alt" id="section_testimonials">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <h2 class="page-header text-center">
              What <span>clients</span> say about us
            </h2>

            <p class="page-subheader text-center">
              Effective and timely feedback is a critical component of a successful collaboration.
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-sm-4">

            <blockquote class="testimonials__blockquote animate-sm-step-0" data-animate="animate-up">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam nostrum delectus quod eligendi distinctio. Fugiat sequi ad dolor id est voluptas, ab, optio obcaecati, corporis dolore dignissimos accusantium hic ratione?
              </p>
              <footer>
                <img th:src="@{/img/avatar_3.png}" class="img-responsive" alt="...">
                <div>
                  <h3 class="h5">John Doe</h3>
                  <cite>Lorem ipsum</cite>
                </div>
              </footer>
            </blockquote>

          </div>
          <div class="col-sm-4">

            <blockquote class="testimonials__blockquote animate-sm-step-1" data-animate="animate-up">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam nostrum delectus quod eligendi distinctio. Fugiat sequi ad dolor id est voluptas, ab, optio obcaecati, corporis dolore dignissimos accusantium hic ratione?
              </p>
              <footer>
                <img th:src="@{/img/avatar_2.png}" class="img-responsive" alt="...">
                <div>
                  <h3 class="h5">Richard Roe</h3>
                  <cite>Lorem ipsum</cite>
                </div>
              </footer>
            </blockquote>

          </div>
          <div class="col-sm-4">

            <blockquote class="testimonials__blockquote animate-sm-step-2" data-animate="animate-up">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam nostrum delectus quod eligendi distinctio. Fugiat sequi ad dolor id est voluptas, ab, optio obcaecati, corporis dolore dignissimos accusantium hic ratione?
              </p>
              <footer>
                <img th:src="@{/img/avatar_1.png}" class="img-responsive" alt="...">
                <div>
                  <h3 class="h5">Judy Doe</h3>
                  <cite>Lorem ipsum</cite>
                </div>
              </footer>
            </blockquote>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- THEMES
    ================================================== -->
    <section class="section_news" id="section_news">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <h2 class="page-header text-center">
              Conference <span>Themes</span>
            </h2>

            <p class="page-subheader text-center">
              Click on themes below to see more
            </p>

          </div>
        </div> <!-- / .row -->
        
        <div class="row">
          <div class="col-sm-4">
			<a href="#modal_portfolio" class="news__item animate-sm-step-0" data-animate="animate-up" data-toggle="modal" data-heading="Lorem ipsum dolor site amet" data-img="/img/themes/corbyn.jpg" data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque maiores quibusdam, soluta nostrum odio dolore ratione numquam nemo accusamus quos, veniam alias fugit, nulla quaerat dicta. Aut nulla rerum natus?">
              <div class="news__item__img">
                <img th:src="@{/img/themes/corbyn.jpg}" class="img-responsive" alt="...">
              </div>
              <div class="news__item__footer">
                <h3 class="news__item__footer__heading">
                  Jeremy Corbyn, the Labour Party and the fight for socialism
                </h3>
                <div class="news__item__footer__content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis aliquam omnis.
                </div>
              </div>
            </a> <!-- / .news__item -->

          </div>
          <div class="col-sm-4">

            <a href="#modal_portfolio" class="news__item animate-sm-step-0" data-animate="animate-up" data-toggle="modal" data-heading="Lorem ipsum dolor site amet" data-img="/img/themes/sutr.jpg" data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque maiores quibusdam, soluta nostrum odio dolore ratione numquam nemo accusamus quos, veniam alias fugit, nulla quaerat dicta. Aut nulla rerum natus?">
              <div class="news__item__img">
                <img th:src="@{/img/themes/sutr.jpg}" class="img-responsive" alt="...">
              </div>
              <div class="news__item__footer">
                <h3 class="news__item__footer__heading">
                  Resisting the racist backlash and the rise of fascism across Europe
                </h3>
                <div class="news__item__footer__content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis aliquam omnis.
                </div>
              </div>
            </a> <!-- / .news__item -->

          </div>
          <div class="col-sm-4">

            <a href="#modal_portfolio" class="news__item animate-sm-step-0" data-animate="animate-up" data-toggle="modal" data-heading="Lorem ipsum dolor site amet" data-img="/img/themes/marx.jpg" data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque maiores quibusdam, soluta nostrum odio dolore ratione numquam nemo accusamus quos, veniam alias fugit, nulla quaerat dicta. Aut nulla rerum natus?">
              <div class="news__item__img">
                <img th:src="@{/img/themes/marx.jpg}" class="img-responsive" alt="...">
              </div>
              <div class="news__item__footer">
                <h3 class="news__item__footer__heading">
                  #Marx200 Anniversary – was Marx right?
                </h3>
                <div class="news__item__footer__content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis aliquam omnis.
                </div>
              </div>
            </a> <!-- / .news__item -->

          </div>
        </div> <!-- / .row -->
        
        <div class="row">
          <div class="col-sm-4">
			<a href="#modal_portfolio" class="news__item animate-sm-step-0" data-animate="animate-up" data-toggle="modal" data-heading="Lorem ipsum dolor site amet" data-img="/img/themes/climate.jpg" data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque maiores quibusdam, soluta nostrum odio dolore ratione numquam nemo accusamus quos, veniam alias fugit, nulla quaerat dicta. Aut nulla rerum natus?">
              <div class="news__item__img">
                <img th:src="@{/img/themes/climate.jpg}" class="img-responsive" alt="...">
              </div>
              <div class="news__item__footer">
                <h3 class="news__item__footer__heading">
                  Capitalism and climate change
                </h3>
                <div class="news__item__footer__content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis aliquam omnis.
                </div>
              </div>
            </a> <!-- / .news__item -->

          </div>
          <div class="col-sm-4">

            <a href="#modal_portfolio" class="news__item animate-sm-step-0" data-animate="animate-up" data-toggle="modal" data-heading="Lorem ipsum dolor site amet" data-img="/img/themes/sexism-and-the-system-yussre-el-bardicy.jpg" data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque maiores quibusdam, soluta nostrum odio dolore ratione numquam nemo accusamus quos, veniam alias fugit, nulla quaerat dicta. Aut nulla rerum natus?">
              <div class="news__item__img">
                <img th:src="@{/img/themes/sexism-and-the-system-yussre-el-bardicy.jpg}" class="img-responsive" alt="...">
              </div>
              <div class="news__item__footer">
                <h3 class="news__item__footer__heading">
                  #MeToo: challenging sexism and the system 
                </h3>
                <div class="news__item__footer__content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis aliquam omnis.
                </div>
              </div>
            </a> <!-- / .news__item -->

          </div>
          <div class="col-sm-4">

            <a href="#modal_portfolio" class="news__item animate-sm-step-0" data-animate="animate-up" data-toggle="modal" data-heading="Lorem ipsum dolor site amet" data-img="/img/themes/imperialism-.jpg" data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque maiores quibusdam, soluta nostrum odio dolore ratione numquam nemo accusamus quos, veniam alias fugit, nulla quaerat dicta. Aut nulla rerum natus?">
              <div class="news__item__img">
                <img th:src="@{/img/themes/imperialism-.jpg}" class="img-responsive" alt="...">
              </div>
              <div class="news__item__footer">
                <h3 class="news__item__footer__heading">
                  War, imperialism, the Middle East and Palestine
                </h3>
                <div class="news__item__footer__content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis aliquam omnis.
                </div>
              </div>
            </a> <!-- / .news__item -->

          </div>
        </div> <!-- / .row -->
        
      </div> <!-- / .container -->
    </section>

    <!-- CONTACT
    ================================================== -->
    <section class="section_contact" id="section_contact">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <h2 class="page-header text-center">
              Get in touch <span>with us</span>
            </h2>

            <p class="page-subheader text-white-muted text-center">
              Do not hesitate to drop us a couple of lines. 24/7 support guaranteed.
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-xs-12">

            <div class="contact__container">
              <div class="row">
                <div class="col-sm-8">

                  <!-- Form -->
                  <form class="contact__container__form" id="form_sendemail">

                    <!-- Header -->
                    <div class="form-group">
                      <h3>Send us a message</h3>
                    </div>

                    <!-- Alert message -->
                    <div class="alert" id="form_message" role="alert"></div>

                    <!-- Email -->
                    <div class="form-group">
                      <label for="email" class="sr-only">Email address *</label>
                      <input type="email" class="form-control" id="contactFormEmail" placeholder="Enter your email address">
                      <span class="help-block"></span>
                    </div>

                    <!-- Name -->
                    <div class="form-group">
                      <label for="name" class="sr-only">Name *</label>
                      <input type="text" class="form-control" id="contactFormName" placeholder="Enter your name">
                      <span class="help-block"></span>
                    </div>

                    <!-- Message -->
                    <div class="form-group">
                      <label for="message" class="sr-only">Message *</label>
                      <textarea class="form-control" id="contactFormMessage" placeholder="Enter your message"></textarea>
                      <span class="help-block"></span>
                    </div>

                    <!-- Submit -->
                    <button type="button" onclick="javascript:sendEmail()" class="btn btn-primary">
                      Send Message
                    </button>

                  </form>

                </div>
                <div class="col-sm-4">

                  <ul class="contact__container__info">
                    <li>
                      <h3>Contact info</h3>
                    </li>
                    <li>
                      <i class="ion-android-pin"></i>
                      <p>
                        Lorem ipsum dolor sit amet <br>
                        Consectetur adipisicing elit
                      </p>
                    </li>
                    <li>
                      <i class="ion-android-call"></i>
                      <p>
                        <a href="tel:00000000000">+0 (000) 000-00-00</a>
                      </p>
                    </li>
                    <li>
                      <i class="ion-android-mail"></i>
                      <p>
                        <a href="mailto:admin@domain.com">admin@domain.com</a>
                      </p>
                    </li>
                  </ul>

                </div>
              </div> <!-- / .row -->
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
    
    <div th:include="layouts/book"></div>

    <!-- FOOTER
    ================================================== -->
    <footer class="section_footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-9">

            <p class="footer__copyright">
              <span id="footer__year">2017</span> &copy; Wolfram theme by <a href="http://simpleqode.com/" target="_blank">Simpleqode.com</a> | Purchase via <a href="https://wrapbootstrap.com/theme/wolfram-multipurpose-one-page-template-WB0915821" target="_blank">Wrapbootstrap.com</a>
            </p>

          </div>
          <div class="col-sm-3">

            <ul class="footer__social">
              <li>
                <a class="twitter" href="#">
                  <i class="ion-social-twitter"></i>
                </a>
              </li>
              <li>
                <a class="facebook" href="#">
                  <i class="ion-social-facebook"></i>
                </a>
              </li>
              <li>
                <a class="pinterest" href="#">
                  <i class="ion-social-pinterest"></i>
                </a>
              </li>
            </ul>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </footer>

    <!-- JAVASCRIPT
    ================================================== -->

    <!-- JS Global -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <!-- JS Plugins -->
    <script th:src="@{/plugins/smoothscroll/smoothscroll.min.js}"></script>
    <script th:src="@{/plugins/backstretch/jquery.backstretch.js}"></script>
    <script th:src="@{/plugins/countTo/jquery.countTo.js}"></script>
    <script th:src="@{/plugins/contact-form/contact.js}"></script>
    <script th:src="@{/plugins/waypoints/jquery.waypoints.min.js}"></script>
    <script th:src="@{/plugins/prettyPhoto/js/jquery.prettyPhoto.js}" type="text/javascript" charset="utf-8"></script>
    <script src="/plugins/swipebox/src/js/jquery.swipebox.js"></script>

    <!-- JS Custom -->
    <script th:src="@{/js/theme.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
 <script>
                $(function() {

                   showDays();
                   showSessionTickets();
                   
                    $('#bkTicketTypeDayTickets').change(function() {   
                        $('.numeric-int').val('0');
                        showDays();
                        $('#bkTicketTypeFullEvent').val('');
                        $('#bkTicketTypeFlexible').val('');                        
                        
                        showSessionTickets();
                    });

                    $('#bkTicketTypeFullEvent').change(function() {                        
                        $('#bkTicketTypeDayTickets').val('');
                        $('#bkTicketTypeFlexible').val('');  
                        $('#FullDays').hide();
                        $('#SessionTickets').hide();
                        showSessionTickets();
                    });

                    $('#bkTicketTypeFlexible').change(function() {                        
                        $('#bkTicketTypeDayTickets').val('');
                        $('#bkTicketTypeFullEvent').val('');  
                        $('#FullDays').hide();
                        $('#SessionTickets').hide();
                        showSessionTickets();
                    });
                    
                    
                    $( ".session_check" ).change(function() {
                      $('#bkTicketTypeFullEvent').val('');
                      $('#bkTicketTypeDayTickets').val('');
                      $('#bkTicketTypeFlexible').val('');  
                      $('#FullDays').hide();
                    });
                    
                    $( ".DayTicket" ).change(function() {
                        var myClass = this.classList;   
//                        alert(myClass[1]);
                            $('.checkbox.' + myClass[1] ).hide();
                    });
                    

                });
                function showDays() {
                    if ($('#bkTicketTypeDayTickets').val()) {
                        $('#FullDays').show();
                    } else {
                        $('#FullDays').hide();
                    }
                }
                
                function showSessionTickets(){
                    if ($('#bkTicketTypeDayTickets').val() =='' && $('#bkTicketTypeFlexible').val() =='' && $('#bkTicketTypeFullEvent').val() =='' ) {
                            $('#SessionTickets').show();
                        }else{
                            $('#SessionTickets').hide();
                        }
                }
            </script>   

  </body>

<!-- Mirrored from simpleqode.com/preview/wolfram/3.0.1/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 12 Jan 2018 19:26:14 GMT -->
</html>
