<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/ico/favicon.ico">

    <title>Marxism 2018</title>

    <!-- CSS Plugins -->
    <link rel="stylesheet"th:href="@{/plugins/swipebox/src/css/swipebox.css}">
    <link rel="stylesheet" th:href="@{/plugins/ionicons/css/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/prettyPhoto/css/prettyPhoto.css}" type="text/css" media="screen" charset="utf-8" />

    <!-- CSS Global -->
    <link rel="stylesheet" th:href="@{/css/theme.css}">
    


  </head>
  <body class="no-settings" data-spy="scroll" data-target="#navbar_main" data-offset="80">

    <!-- PRELOADER
    ================================================== -->
    <div class="preloader">
      <img th:src="@{/img/spinner.svg}" alt="Loading..." class="preloader__spinner">
    </div>

    <!-- MODAL
    ================================================== -->
    <div class="modal fade" id="modal_portfolio" tabindex="-1" role="dialog" aria-labelledby="modal_portfolio__heading">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modal_portfolio__heading"></h4>
          </div>
          <div class="modal-body">
            <img id="modal_portfolio__img" class="img-responsive" th:src="@{/img/1.jpg}" alt="...">
            <p id="modal_portfolio__content"></p>
          </div>
        </div>
      </div>
    </div>

    <!-- NAVBAR
    ================================================== -->
    <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container">

        <!-- Brand name -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_main" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Marxism 2018</a>
        </div>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbar_main">

          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <a href="#section_banner">Welcome</a>
            </li>
            <li><a href="#section_features">About</a></li>
            <li><a href="#section_portfolio">Gallery</a></li>
            <li><a href="#section_pricing">Pricing</a></li>
            <li><a href="#section_team">Speakers</a></li>
            <li><a href="#section_booking">Book</a></li>
            <li><a href="#section_news">Themes</a></li>
            <li><a href="#section_contact">Contact</a></li>
          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

	<div th:include="layouts/carousel"></div>

	<div th:include="layouts/about"></div>
	
	<div th:include="layouts/gallery"></div>
	
	<div th:include="layouts/pricing"></div>
	
	<div th:include="layouts/speakers"></div>
	
	<div th:include="layouts/themes"></div>
	
	<div th:include="layouts/contact"></div>
    
    <div th:include="layouts/book"></div>
    
    <div th:include="layouts/footer"></div>


    <!-- JAVASCRIPT
    ================================================== -->

    <!-- JS Global -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <!-- JS Plugins -->
    <script th:src="@{/plugins/smoothscroll/smoothscroll.min.js}"></script>
    <script th:src="@{/plugins/backstretch/jquery.backstretch.js}"></script>
    <script th:src="@{/plugins/countTo/jquery.countTo.js}"></script>
    <script th:src="@{/plugins/contact-form/contact.js}"></script>
    <script th:src="@{/plugins/waypoints/jquery.waypoints.min.js}"></script>
    <script th:src="@{/plugins/prettyPhoto/js/jquery.prettyPhoto.js}" type="text/javascript" charset="utf-8"></script>
    <script src="/plugins/swipebox/src/js/jquery.swipebox.js"></script>

    <!-- JS Custom -->
    <script th:src="@{/js/theme.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
 	<script>
                $(function() {

                   showDays();
                   showSessionTickets();
                   
                    $('#bkTicketTypeDayTickets').change(function() {   
                        $('.numeric-int').val('0');
                        showDays();
                        $('#bkTicketTypeFullEvent').val('');
                        $('#bkTicketTypeFlexible').val('');                        
                        
                        showSessionTickets();
                    });

                    $('#bkTicketTypeFullEvent').change(function() {                        
                        $('#bkTicketTypeDayTickets').val('');
                        $('#bkTicketTypeFlexible').val('');  
                        $('#FullDays').hide();
                        $('#SessionTickets').hide();
                        showSessionTickets();
                    });

                    $('#bkTicketTypeFlexible').change(function() {                        
                        $('#bkTicketTypeDayTickets').val('');
                        $('#bkTicketTypeFullEvent').val('');  
                        $('#FullDays').hide();
                        $('#SessionTickets').hide();
                        showSessionTickets();
                    });
                    
                    
                    $( ".session_check" ).change(function() {
                      $('#bkTicketTypeFullEvent').val('');
                      $('#bkTicketTypeDayTickets').val('');
                      $('#bkTicketTypeFlexible').val('');  
                      $('#FullDays').hide();
                    });
                    
                    $( ".DayTicket" ).change(function() {
                        var myClass = this.classList;   
//                        alert(myClass[1]);
                            $('.checkbox.' + myClass[1] ).hide();
                    });
                    

                });
                function showDays() {
                    if ($('#bkTicketTypeDayTickets').val()) {
                        $('#FullDays').show();
                    } else {
                        $('#FullDays').hide();
                    }
                }
                
                function showSessionTickets(){
                    if ($('#bkTicketTypeDayTickets').val() =='' && $('#bkTicketTypeFlexible').val() =='' && $('#bkTicketTypeFullEvent').val() =='' ) {
                            $('#SessionTickets').show();
                        }else{
                            $('#SessionTickets').hide();
                        }
                }
            </script>   

  </body>
</html>
