<legend>Accommodation</legend>

<div class="form-group">
    <label class="col-sm-3 control-label" for="bkAccomNeeds">Accommodation needs:</label>
    <div class="col-sm-9">
        <textarea  class="form-control" name="bkAccomNeeds" rows="3"></textarea>
        <span class="help-block">If you want accommodation, do you have any specific requirements - for example, do you have any access needs or an allergy?</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label" for="bkAccomFriend">Is there anyone you want to stay with?</label>
    <div class="col-sm-9">
        <input type="text" id="bkAccomFriend"  name="bkAccomFriend" class="form-control" value="" >
        <span class="help-block">If you want accommodation, is there someone else coming to Marxism you want to stay with? If so, enter their name.</span>
    </div>
</div>