<legend>Contact Details</legend>

<div class="form-group">
	<label class="col-sm-3 control-label" for="bkAdd1">
		<ion-icon name="warning" class="warning_icon" id="booking_address1_warning_icon"></ion-icon> Address Line 1:
	</label>
	<div class="col-sm-9">
		<input type="text" id="booking_address1" class="form-control" name="address.address1" value="" placeholder="Address Line 1">
	</div>
</div>
<div class="form-group">
	<label class="col-sm-3 control-label" for="bkAdd2">
		<ion-icon name="warning" class="warning_icon" id="booking_address2_warning_icon"></ion-icon> Address Line 2:
	</label>
	<div class="col-sm-9">
		<input type="text" id="booking_address2" class="form-control" name="address.address2" value="" placeholder="Address Line 2">
	</div>
</div>
<div class="form-group">
	<label class="col-sm-3 control-label" for="bkTown">
		<ion-icon name="warning" class="warning_icon" id="booking_town_warning_icon"></ion-icon> 
	Town or City:</label>
	<div class="col-sm-9">
		<input type="text" id="booking_town" class="form-control" name="town" value="" placeholder="Town or City">
	</div>
</div>
<div class="form-group">
	<label class="col-sm-3 control-label" for="bkPostcode">
		<ion-icon name="warning" class="warning_icon" id="booking_postcode_warning_icon"></ion-icon> Postcode:
	</label>
	<div class="col-sm-3">
		<input type="text" id="booking_postcode" class="form-control" name="address.postcode" value="" placeholder="Postcode">
	</div>
</div>
<div class="form-group">
	<label class="col-sm-3 control-label" for="bkCountry">
		<ion-icon name="warning" class="warning_icon" id="booking_country_warning_icon"></ion-icon> Country
	</label>
	<div class="col-sm-9">
		<input type="text" id="booking_country" class="form-control" name="address.country" value="United Kingdom" placeholder="Country" onfocusout="javascript:showNext()">
	</div>
</div>
