<legend>Your Details</legend>

<div class="form-group">
	
	<label class="col-sm-3 control-label" for="firstname">
		<i class="ion-android-warning warning_icon" id="booking_firstname_warning_icon"></i> First Name:
	</label>
	
	<div class="col-sm-9">
		<input type="text" id="booking_firstname" name="firstname" class="form-control" value="" placeholder="First Name">
		<span class="error-block" style="display: none;">Please enter your first name.</span>
	</div>
	
</div>

<div class="form-group">

	<label class="col-sm-3 control-label" for="lastname">
		<i class="ion-android-warning warning_icon" id="booking_lastname_warning_icon"></i> Last Name:
	</label>
	
	<div class="col-sm-9">
		<input type="text" id="booking_lastname" class="form-control" name="lastname" value="" placeholder="Last Name">
		<span class="error-block" style="display: none;">Please enter your last name.</span>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label" for="telephone">
	<i class="ion-android-warning warning_icon" id="booking_telephone_warning_icon"></i> Phone:</label>
	<div class="col-sm-9">
		<input type="text" id="booking_telephone" name="telephone" class="form-control" value="" placeholder="Phone">
		<span class="error-block" style="display: none;">Please enter your telephone number.</span>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label" for="email">
	<i class="ion-android-warning warning_icon" id="booking_email_warning_icon"></i> Email:</label>
	<div class="col-sm-9">
		<input type="text" id="booking_email" name="email" class="form-control" value="" placeholder="Email">
		<span class="error-block" style="display: none;">Please enter your email address.</span> 
	</div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label">Do you want free accommodation?</label>
	<div class="booking_radio_buttons">
		<label class="radio-inline"> <input type="radio" name="bkAccomRequired" id="accomdationRequiredNo" value="No" checked="checked"> No
		</label> <label class="radio-inline "> <input type="radio" name="bkAccomRequired" id="accomdationRequiredYes" value="Yes"> Yes
		</label> 
	</div>
	<span class="help-block">This will usually mean sleeping on a floor or sofa. Click 
		<a href="#modal_no_img" 
			class="news__item"
			data-toggle="modal" 
			data-ga="accommodation-booking"
			data-heading="Accommodation at Marxism"
			data-content="<p>We can generally arrange free accommodation in London during the event. This is usually &quot;crash pad&quot; type of accommodation on floors and in community centres.</p>
			<p>Please note that although we try our best to provide free accommodation to all who need it this is NOT guaranteed and we would encourage those who can to make their own arrangements.</p>
			<p>All accommodation booked after Monday 19 June will be “crash pad” in the community centre.</p>
			<p>Alternatively there are lots of options for accommodation in central London. Cheap accommodation includes the <a href='https://www.yha.org.uk/places-to-stay/london' target='_blank'>YHA Hostel</a> or you can pay for a Halls of Residence room at UCL. Call <strong>020 7529 8975</strong> to book with UCL directly.">here</a>
			for more information.
	</span>	
</div>

<div class="form-group">

	<label class="col-sm-3 control-label">Do you require the creche?</label>
	<div class="booking_radio_buttons">
		<label class="radio-inline"> <input type="radio" name="crecheRequiredRadio" id="crecheRequiredRadioNo" value="No" checked="checked"> No
		</label> <label class="radio-inline"> <input type="radio" name="crecheRequiredRadio" id="crecheRequiredRadioYes" value="Yes"> Yes
		</label> 
		<span class="help-block">We provide a free crèche available for children of different ages up to 11 years. Click <a href="#modal_no_img" 
			class="news__item"
			data-toggle="modal" 
			data-ga="creche-booking"
			data-heading="Crèche at Marxism"
			data-content="<p>We provide a free crèche with a range of activities available for children of different ages up to 11 years.</p>
			<p>This must be booked by Monday 18 June.</p>">here</a>
			for more information.
		</span>
	</div>
</div>

