<legend>Your Details</legend>

<div class="form-group">
	
	<label class="col-sm-3 control-label" for="firstname">
		<ion-icon name="warning" class="warning_icon" id="booking_firstname_warning_icon"></ion-icon> First Name:
	</label>
	
	<div class="col-sm-9">
		<input type="text" id="booking_firstname" name="firstname" class="form-control" value="" placeholder="First Name">
		<span class="error-block" style="display: none;">Please enter your first name.</span>
	</div>
	
</div>

<div class="form-group">

	<label class="col-sm-3 control-label" for="lastname">
		<ion-icon name="warning" class="warning_icon" id="booking_lastname_warning_icon"></ion-icon> Last Name:
	</label>
	
	<div class="col-sm-9">
		<input type="text" id="booking_lastname" class="form-control" name="lastname" value="" placeholder="Last Name">
		<span class="error-block" style="display: none;">Please enter your last name.</span>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label" for="telephone">
	<ion-icon name="warning" class="warning_icon" id="booking_telephone_warning_icon"></ion-icon> Phone:</label>
	<div class="col-sm-9">
		<input type="text" id="booking_telephone" name="telephone" class="form-control" value="" placeholder="Phone">
		<span class="error-block" style="display: none;">Please enter your telephone number.</span>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label" for="email">
	<ion-icon name="warning" class="warning_icon" id="booking_email_warning_icon"></ion-icon> Email:</label>
	<div class="col-sm-9">
		<input type="text" id="booking_email" name="email" class="form-control" value="" placeholder="Email" onfocusout="javascript:showNext()">
		<span class="error-block" style="display: none;">Please enter your email address.</span> 
	</div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label">Do you want free accommodation?</label>
	<div class="booking_radio_buttons">
		<label class="radio-inline"> <input type="radio" name="bkAccomRequired" id="accomdationRequiredNo" value="No" checked="checked"> No
		</label> <label class="radio-inline "> <input type="radio" name="bkAccomRequired" id="accomdationRequiredYes" value="Yes"> Yes
		</label> 
	</div>
	<span class="help-block">This will usually mean sleeping on a floor or sofa.</span>	
</div>

<div class="form-group">

	<label class="col-sm-3 control-label">Do you require the creche?</label>
	<div class="booking_radio_buttons">
		<label class="radio-inline"> <input type="radio" name="crecheRequiredRadio" id="crecheRequiredRadioNo" value="No" checked="checked"> No
		</label> <label class="radio-inline"> <input type="radio" name="crecheRequiredRadio" id="crecheRequiredRadioYes" value="Yes"> Yes
		</label> 
		<span class="help-block">We provide a free crèche available for children of different ages up to 11 years. Click <a href="#modal_no_img" 
			class="news__item"
			data-toggle="modal" 
			data-ga="creche-booking"
			data-heading="Crèche at Marxism"
			data-content="<p>We provide a free crèche with a range of activities available for children of different ages up to 11 years.</p>
			<p>This must be booked by Monday 18 June.</p>">here</a>
			for more information.
		</span>
	</div>
</div>

