<legend>Your Details</legend>

<div class="form-group">
	
	<label class="col-sm-3 control-label" for="firstname">
		<i class="ion-android-warning warning_icon" id="booking_firstname_warning_icon"></i> First Name:
	</label>
	
	<div class="col-sm-9">
		<input type="text" id="booking_firstname" class="form-control" value="" placeholder="First Name">
		<span class="error-block" style="display: none;">Please enter your first name.</span>
	</div>
	
</div>

<div class="form-group">

	<label class="col-sm-3 control-label" for="lastname">
		<i class="ion-android-warning warning_icon" id="booking_lastname_warning_icon"></i> Last Name:
	</label>
	
	<div class="col-sm-9">
		<input type="text" id="booking_lastname" class="form-control" value="" placeholder="Last Name">
		<span class="error-block" style="display: none;">Please enter your last name.</span>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label" for="telephone">
	<i class="ion-android-warning warning_icon" id="booking_telephone_warning_icon"></i> Phone:</label>
	<div class="col-sm-9">
		<input type="text" id="booking_telephone" class="form-control" value="" placeholder="Phone">
		<span class="error-block" style="display: none;">Please enter your telephone number.</span>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label" for="email">
	<i class="ion-android-warning warning_icon" id="booking_email_warning_icon"></i> Email:</label>
	<div class="col-sm-9">
		<input type="text" id="booking_email" class="form-control" value="" placeholder="Email">
		<span class="error-block" style="display: none;">Please enter your email address.</span> 
	</div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label">Do you want free accommodation?</label>
	<div class="booking_radio_buttons">
		<label class="radio-inline"> <input type="radio" name="bkAccomRequired" id="accomdationRequiredNo" value="No" checked="checked"> No
		</label> <label class="radio-inline "> <input type="radio" name="bkAccomRequired" id="accomdationRequiredYes" value="Yes"> Yes
		</label> <span class="help-block">This will usually mean sleeping on a floor or sofa. Click <a href="#modal_portfolio" class="news__item animate-sm-step-0" data-animate="animate-up"
			data-toggle="modal" data-heading="Lorem ipsum dolor site amet" data-img="/img/themes/corbyn.jpg"
			data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque maiores quibusdam, soluta nostrum odio dolore ratione numquam nemo accusamus quos, veniam alias fugit, nulla quaerat dicta. Aut nulla rerum natus?">here</a>
			for more information.
		</span>
	</div>
</div>

<div class="form-group">

	<label class="col-sm-3 control-label">Do you require the creche?</label>
	<div class="booking_radio_buttons">
		<label class="radio-inline"> <input type="radio" name="crecheRequiredRadio" id="crecheRequiredRadioNo" value="No" checked="checked"> No
		</label> <label class="radio-inline"> <input type="radio" name="crecheRequiredRadio" id="crecheRequiredRadioYes" value="Yes"> Yes
		</label> <span class="help-block">We provide a free crèche available for children of different ages up to 11 years. Click <a href="#modal_portfolio" class="news__item animate-sm-step-0"
			data-animate="animate-up" data-toggle="modal" data-heading="Lorem ipsum dolor site amet" data-img="/img/themes/corbyn.jpg"
			data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque maiores quibusdam, soluta nostrum odio dolore ratione numquam nemo accusamus quos, veniam alias fugit, nulla quaerat dicta. Aut nulla rerum natus?">here</a>
			for more information.
		</span>
	</div>
</div>

