<legend>Childcare</legend>
We provide a creche for children under 11 years old. How many children will need childcare?

<div class="form-group">
    <label class="col-sm-3 control-label" for="bkChildcareUnder18months">Children under 18 months:</label>
    <div class="col-sm-2">
        <input type="text" id="bkChildcareUnder18months" class="form-control"  name="bkChildcareUnder18months"  value="0" >
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label" for="bkChildcareTo5Years">Children 18 months to 5 years:</label>
    <div class="col-sm-2">
        <input type="text" id="bkChildcareTo5Years" class="form-control"  name="bkChildcareTo5Years" value="0" >
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label" for="bkChildcare5to12Years">Children 5 to 11 years:</label>
    <div class="col-sm-2">
        <input type="text" id="bkChildcare5to12Years" class="form-control"  name="bkChildcare5to12Years" value="0" >
    </div>
</div>