<legend>Childcare</legend>
We provide a creche for children under 11 years old. How many children will need childcare?

<div class="form-group">
    <label class="col-sm-3 control-label" for="bkUnder18months">Children under 18 months:</label>
    <div class="col-sm-9">
		<select id="booking_under18months" name="childrenUnder18Months" class="form-control">
			<option value="0" selected="selected">Please select number of children</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
		</select>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label" for="bkTo5Years">Children 18 months to 5 years:</label>
    <div class="col-sm-9">
		<select id="booking_upto5Years" name="children18MonthsTo5Years" class="form-control">
			<option value="0" selected="selected">Please select number of children</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
		</select>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label" for="bk5to11Years">Children 5 to 11 years:</label>
    <div class="col-sm-9">
		<select id="booking_from5to11Years" name="children5YearsTo11years" class="form-control">
			<option value="0" selected="selected">Please select number of children</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
		</select>
    </div>
</div>
