<legend>More Details</legend>

<div class="form-group">
	<label class="col-sm-3 control-label" for="tradeUnion">
		<ion-icon name="warning" class="warning_icon" id="booking_tradeUnion_warning_icon"></ion-icon> Trade Union:
	</label>

	<div class="col-sm-9">
		<input type="text" id="booking_tradeUnion" class="form-control" name="tradeUnion" value="" placeholder="Trade Union">
	</div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label" for="college">
		<ion-icon name="warning" class="warning_icon" id="booking_college_warning_icon"></ion-icon> College or School:
	</label>

	<div class="col-sm-9">
		<input type="text" id="booking_college" name="college" class="form-control" value="" placeholder="College or School">
	</div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label" for="otherMembership">
		<ion-icon name="warning" class="warning_icon" id="booking_otherMembership_warning_icon"></ion-icon> Other Membership:
	</label>
	<div class="col-sm-9">
		<input type="text" id="booking_otherMembership" name="otherMembership" class="form-control" value="" placeholder="Other Membership">
	</div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label" for="whereHear">
		<ion-icon name="warning" class="warning_icon" id="booking_hear_about_warning_icon"></ion-icon> How did you hear about Marxism?:
	</label>
	<div class="col-sm-9">
		<select id="booking_hear_about" name="hearAbout" class="form-control" onfocusout="javascript:showNext()">
			<option value="" selected="selected">Please select one</option>
			<option value="BeenBefore">I have been to festival before</option>
			<option value="Browsing"> Online browsing</option>
			<option value="SocialNetwork">Social networking sites (e.g. Facebook, Twitter)</option>
			<option value="FriendFamily">Heard about it from friend or family</option>
			<option value="PublicMeeting">Heard about it at a public meeting</option>
			<option value="Demo">Heard about it at a picket, demo, protest etc.</option>
			<option value="SWPMeeting">Heard about it at an Meeting</option>
			<option value="Leaflet">Was given a leaflet</option>
			<option value="Poster">Saw a poster</option>
			<option value="Other">Other</option>
		</select>
	</div>
</div>
