<legend>Please select your ticket type:</legend>

<input type="hidden" id="ticketWebPrice" name="ticket.webPrice"/>

<div id="ticketTypeContainer" class="form-group">
    <label class="col-sm-3 control-label ticket-label">Ticket type&nbsp;
	    <a href="#modal_no_img"
	    	class="ticket-help"
			data-toggle="modal"
			data-heading="Festival Tickets"
			data-content="<p>Full tickets are valid for the entire event.</p>
			<p>Day tickets are valid for one day of the event.</p>
			<p>Flexible Ticket are for five meetings across the event.</p>">
			<ion-icon name="help-circle"></ion-icon>
		</a>
	</label>
    <div class="col-sm-9">
		<select id="booking_ticketType" name="ticket.type" class="form-control" onchange="javascript:toggleTickets()">
			<option value="">-- Select Ticket Type --</option>
			<option value="FULL">Full Event</option>
			<option value="DAY">Day Ticket</option>
			<option value="FLEXI">Flexi Ticket</option>
		</select>
	</div>
</div>

<div class="form-group" th:if="${content.showDiscountCode == true}">
	<label class="col-sm-3 control-label" for="discount">
		<ion-icon name="warning" class="warning_icon" id="booking_discount_warning_icon"></ion-icon> Discount Code
	</label>

	<div class="col-sm-9">
		<input type="text" id="booking_discount" name="discountCode" class="form-control" onkeyup="changeDiscount()">
		<span id="discount_applied_text" style="display :none;">Congratulations! Your 10% discount will be taken off your ticket price</span>
	</div>
</div>

<div id="ticketPricingContainer" class="form-group" style="display : none;">
    <label class="col-sm-3 control-label">Ticket pricing&nbsp;
	    <a href="#modal_no_img"
	    	class="ticket-help"
			data-toggle="modal"
			data-heading="Festival Tickets"
			data-content="<p>Please select whether you are earning a waged, unwaged or are in higher education (HE) or futher education (FE)</p>">
			<ion-icon name="help-circle"></ion-icon>
		</a>
	</label>
    <div class="col-sm-9">
        <label class="radio-inline"> <input type="radio" name="ticket.pricing" onclick="javascript:toggleTickets()" id="ticketPricingWaged" value="WAGED"> Waged </label>
        <label class="radio-inline"> <input type="radio" name="ticket.pricing" onclick="javascript:toggleTickets()" id="ticketPricingUnwaged" value="UNWAGED"> Unwaged </label>
        <label class="radio-inline"> <input type="radio" name="ticket.pricing" onclick="javascript:toggleTickets()" id="ticketPricingStudentHE" value="STUDENT_HE"> Student HE </label>
        <label class="radio-inline"> <input type="radio" name="ticket.pricing" onclick="javascript:toggleTickets()" id="ticketPricingStudentFE" value="STUDENT_FE"> Student FE/School </label>
    </div>
</div>

<div id="collegeSchoolContainer" class="form-group" style="display : none;">
	<label class="col-sm-3 control-label ticket-label">Enter school/college to get your discount</label>
	<div class="col-sm-9">
		<input type="text" id="booking_college2" name="college2" class="form-control" value="" placeholder="College or School">
	</div>
</div>

<div id="ticketDayContainer" style="display: none;">
	<label class="col-sm-3 control-label">Days:</label>
	<div class="col-sm-2">
		<label>Thursday</label>
		<select id="dayTicketThursday" name="ticket.thursday" class="form-control" onchange="javascript:toggleTickets()">
				<option value="">-- None --</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
		</select>
	</div>
	<div class="col-sm-2">
		<label>Friday</label>
		<select id="dayTicketFriday" name="ticket.friday" class="form-control" onchange="javascript:toggleTickets()">
				<option value="">-- None --</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
		</select>
	</div>
	<div class="col-sm-2">
		<label>Saturday</label>
		<select id="dayTicketSaturday" name="ticket.saturday" class="form-control" onchange="javascript:toggleTickets()">
				<option value="">-- None --</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
		</select>
	</div>
	<div class="col-sm-2">
		<label>Sunday</label>
		<select id="dayTicketSunday" name="ticket.sunday" class="form-control" onchange="javascript:toggleTickets()">
				<option value="">-- None --</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
		</select>
	</div>
</div>

<div id="ticketAfterPartyContainer" class="form-group" style="display : none;">
    <label class="col-sm-3 control-label" th:text="${content.bookingAfterPartyText}"></label>
    <div class="col-sm-9">
        <label class="radio-inline"> <input type="checkbox" name="ticket.afterParty" id="afterPartyCheckbox" onclick="javascript:toggleTickets()"></label>
    </div>
</div>

<div id="ticketPriceContainer" class="form-group" style="display : none;">
    <label class="col-sm-3 control-label">Price</label>
    <div class="col-sm-9">
        <div id="ticket-price" class="font-lindham"></div>
        <div id="ticket-discount" th:if="${content.showEarlyBirdDiscount == true}">The price includes a <span class="font-lindham" style="color: #FFAB00;">&pound;5</span> discount, only available till 8 April</div>
    </div>
</div>
